Repository spaship/spaship, pull requests merged in 2020-06, with the labels that each got.

#426 feat(#422): Prettified Timestamp for APIKeys page.
  packages/manager/src/components/authentication/APIKeyTable.tsx
Labels: enhancement, manager

#526 chore(npm): Updated package-locks and fix audit issues.
  packages/api/package-lock.json
  packages/cli/package-lock.json
  packages/manager/package-lock.json
  packages/router/package-lock.json
  packages/sync/package-lock.json
Labels: chore, dependencies

#531 feat(cli): add deploy progress
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/deploy.js
  packages/cli/src/services/deployService.js
  packages/cli/test/services/deployService.test.js
Labels: cli, enhancement

#541 chore(cli): replace `got` to node http module
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/deploy.js
  packages/cli/src/services/deployService.js
Labels: chore, cli

#536 fix(api): remove hardcode api host in OpenAPI
  packages/api/app.js
  packages/api/openapi.yml
Labels: api, chore

#535 fix(manager): user should not redirect to login page if they already login
  packages/manager/src/components/user/LoginPage.tsx
Labels: bug, manager

#527 feat(#495): Removed 'Purge Cache' button from Application Details page.
  packages/manager/src/components/application/ApplicationIndex.tsx
Labels: manager

#532 fix(api): avoid overwrite exists .htaccess
  packages/api/services/deployService.js
Labels: api, bug

#562 chore(manager): upgrade @patternfly/patternfly-react to v4
  packages/manager/package-lock.json
  packages/manager/package.json
  packages/manager/src/components/application/ApplicationDetail.tsx
  packages/manager/src/components/application/ApplicationIndex.tsx
  packages/manager/src/components/application/ApplicationList.tsx
  packages/manager/src/components/authentication/APIKeyCreateModal.tsx
  packages/manager/src/components/dashboard/DashboardIndex.tsx
  packages/manager/src/components/general/ConfirmButton.tsx
  packages/manager/src/components/general/EmptySpinner.tsx
  packages/manager/src/components/user/LoginPage.tsx
  packages/manager/src/layout/Header.tsx
  packages/manager/src/layout/HeaderTools.tsx
  packages/manager/src/layout/PageHeader.tsx
  packages/manager/src/layout/PageNav.tsx
  packages/manager/src/layout/PageToolbar.tsx
  packages/manager/src/layout/Sidebar.tsx
  packages/manager/src/layout/UserStatus.tsx
Labels: manager

#619 feat(#616): Updated Docusaurus pages and deployment configuration
  docusaurus/blog/2019-11-28-november-updates.md
  docusaurus/blog/2019-12-06-december-updates.md
  docusaurus/blog/2020-01-06-january-updates.md
  docusaurus/docusaurus.config.js
  docusaurus/src/pages/index.js
  docusaurus/static/CNAME
  docusaurus/static/README.md
Labels: documentation, enhancement
