Repository spaship/spaship, pull requests merged in 2020-05, with the labels that each got.

#441 fix(#440): Fixed babel-jest dependency error.
  package-lock.json
  package.json
  packages/manager/package-lock.json
Labels: bug

#454 chore(npm): Fixed dependency audit issues.
  docusaurus/yarn.lock
  package-lock.json
Labels: chore

#445 chore(#444): Updated shell snippet tags to sh.
  packages/api/README.md
  packages/cli/README.md
  packages/sync/README.md
Labels: chore

#438 fix(#435): Fixed shortKey display issue post new key creation.
  packages/manager/src/services/APIKeyService.ts
Labels: bug, manager

#500 fix(manager): add timestamp for config script tag to avoid cache issue
  packages/manager/public/index.html
Labels: bug, manager

#443 fix(#439): Fixed API Key deletion behaviour.
  packages/manager/src/components/authentication/APIKeyList.tsx
  packages/manager/src/components/authentication/APIKeySubTable.tsx
  packages/manager/src/components/authentication/APIKeyTable.tsx
Labels: bug, manager
