Repository spaship/spaship, pull requests merged in 2020-03, with the labels that each got.

#167 build: offer a way to pass API urls by env var
  packages/manager/public/index.html
  packages/manager/src/EnvParser.ts
  packages/manager/src/config.ts
Labels: manager

#199 refactor(manager): apply UI design to code
  package-lock.json
  package.json
  packages/manager/package-lock.json
  packages/manager/package.json
  packages/manager/src/App.tsx
  packages/manager/src/components/application/AddApplication.tsx
  packages/manager/src/components/application/ApplicationDetail.tsx
  packages/manager/src/components/application/ApplicationFilter.tsx
  packages/manager/src/components/application/ApplicationIndex.tsx
  packages/manager/src/components/application/ApplicationList.tsx
  packages/manager/src/components/application/ApplicationTable.tsx
  packages/manager/src/components/application/DeploySubTable.tsx
  packages/manager/src/components/application/EnvironmentDetails.tsx
  packages/manager/src/components/application/PrimaryDetails.tsx
  packages/manager/src/components/authentication/APIKeyIndex.tsx
  packages/manager/src/components/user/LoginForm.tsx
  packages/manager/src/components/user/LoginPage.tsx
  packages/manager/src/config.ts
  packages/manager/src/layout/Header.tsx
  packages/manager/src/layout/Page.tsx
  packages/manager/src/layout/PageBreadcrumb.tsx
  packages/manager/src/layout/PageHeader.tsx
  packages/manager/src/layout/PageNav.tsx
  packages/manager/src/layout/PageToolbar.tsx
  packages/manager/src/layout/Sidebar.tsx
  packages/manager/src/layout/UserStatus.tsx
  packages/manager/src/models/Application.ts
  packages/manager/src/static/css/root.css
  packages/manager/src/static/img/logo.svg
Labels: manager

#203 feat(api): add mongodb user & password config
  packages/api/README.md
  packages/api/config.js
  packages/api/lib/db.js
Labels: api

#201 fix(api|router):Rename port in api and router config
  packages/api/README.md
  packages/api/config.js
  packages/api/lib/metadata.js
  packages/router/README.md
  packages/router/config.js
  packages/router/index.js
  packages/router/index.test.js
Labels: api, bug, router

#208 feat: add keycloak authentication to SPAship Manager
  packages/manager/README.md
  packages/manager/package-lock.json
  packages/manager/package.json
  packages/manager/public/index.html
  packages/manager/src/App.tsx
  packages/manager/src/EnvParser.ts
  packages/manager/src/PrivateRoute.tsx
  packages/manager/src/Routes.tsx
  packages/manager/src/__mocks__/keycloak.ts
  packages/manager/src/components/user/LoginPage.tsx
  packages/manager/src/config.ts
  packages/manager/src/keycloak.ts
  packages/manager/src/layout/PageToolbar.tsx
  packages/manager/src/layout/UserStatus.tsx
Labels: manager

#220 fix(manager): add .htaccess make react browser route work
  packages/manager/public/.htaccess
Labels: bug, manager

#217 feat(manager): add api key page
  packages/manager/package-lock.json
  packages/manager/package.json
  packages/manager/src/EnvParser.ts
  packages/manager/src/components/application/AddApplication.tsx
  packages/manager/src/components/application/ApplicationList.tsx
  packages/manager/src/components/application/ApplicationTable.tsx
  packages/manager/src/components/application/UpdateApplication.tsx
  packages/manager/src/components/authentication/APIKeyCreateModal.tsx
  packages/manager/src/components/authentication/APIKeyIndex.tsx
  packages/manager/src/components/authentication/APIKeyTable.tsx
  packages/manager/src/components/general/ConfirmButton.tsx
  packages/manager/src/components/user/LoginForm.tsx
  packages/manager/src/components/user/LoginPage.tsx
  packages/manager/src/config.ts
  packages/manager/src/layout/Header.tsx
  packages/manager/src/layout/PageNav.tsx
  packages/manager/src/layout/PageToolbar.tsx
  packages/manager/src/layout/UserStatus.tsx
  packages/manager/src/models/Application.ts
  packages/manager/src/services/APIService.ts
  packages/manager/src/static/css/root.css
  packages/manager/src/static/img/rocket.svg
Labels: manager

#256 fix(common): remove handlebars dependency
  packages/common/lib/htaccess/htaccess.hbs
  packages/common/lib/htaccess/index.js
  packages/common/package-lock.json
  packages/common/package.json
Labels: common

#204 feat(apiKeys): Created REST Endpoints for API keys.
  package-lock.json
  packages/api/README.md
  packages/api/index.js
  packages/api/lib/db.apikey.js
  packages/api/lib/db.apikey.test.js
  packages/api/package-lock.json
  packages/api/package.json
  packages/api/routes/apikeys/key/createKeyMiddleware.js
  packages/api/routes/apikeys/key/deleteKeyMiddleware.js
  packages/api/routes/apikeys/key/getKeysByUserMiddleware.js
  packages/api/routes/apikeys/user/deleteKeysByUserMiddleware.js
  packages/api/routes/apikeys/user/getUserByKeyMiddleware.js
  packages/api/routes/routes.js
Labels: api

#244 docs(README): Fixed code-fencing lint warnings.
  packages/api/README.md
Labels: api, documentation

#266 teach CLI to support API key auth and to communicate with multiple SPAship environments
  .gitignore
  packages/api/config.js
  packages/api/package-lock.json
  packages/cli/README.md
  packages/cli/oclif.manifest.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/deploy.js
  packages/cli/src/common/flags.js
  packages/cli/src/common/spashiprc-loader.js
Labels: api, cli

#258 feat(manager): use config file to replace build environment vars
  package-lock.json
  package.json
  packages/manager/package-lock.json
  packages/manager/package.json
  packages/manager/public/config/manager.js
  packages/manager/public/index.html
  packages/manager/src/components/application/AddApplication.tsx
  packages/manager/src/components/application/ApplicationList.tsx
  packages/manager/src/components/application/ApplicationTable.tsx
  packages/manager/src/components/application/UpdateApplication.tsx
  packages/manager/src/config.ts
  packages/manager/src/keycloak.ts
  packages/manager/src/services/APIService.ts
Labels: manager
