Repository spaship/spaship, pull requests merged in 2020-04, with the labels that each got.

#281 docs(README): Fixed remaining code-fence lint issues
  packages/api/README.md
Labels: documentation

#298 chore(#63): Created Issue Templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/chore.md
  .github/ISSUE_TEMPLATE/documentation-proposal.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/regression-report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: chore

#304 docs(#63): Add Contributor Code of Conduct document
  CODE_OF_CONDUCT.md
Labels: documentation

#315 feat(manager): API Key list/create/revoke
  packages/manager/.github/workflows/ci.yml
  packages/manager/src/EnvParser.ts
  packages/manager/src/Routes.tsx
  packages/manager/src/__mocks__/keycloak.ts
  packages/manager/src/components/authentication/APIKeyCreateModal.tsx
  packages/manager/src/components/authentication/APIKeyIndex.tsx
  packages/manager/src/components/authentication/APIKeyList.tsx
  packages/manager/src/components/authentication/APIKeySubTable.tsx
  packages/manager/src/components/authentication/APIKeyTable.tsx
  packages/manager/src/components/general/EmptyNotFound.tsx
  packages/manager/src/components/general/EmptySpinner.tsx
  packages/manager/src/keycloak.ts
  packages/manager/src/models/APIKey.ts
  packages/manager/src/services/APIService.ts
Labels: manager

#317 fix(cli): send "name", "path" to API
  packages/cli/src/commands/deploy.js
Labels: bug, cli

#320 fix(api): expiredDate should not before today
  packages/api/models/apiKey.js
Labels: api, bug

#321 fix(api): apiKey label should unique by userId
  packages/api/models/apiKey.js
Labels: api, bug

#324 fix(common): use json format as default
  packages/common/lib/logging/pino-config.js
Labels: bug, common

#325 fix(api): upload was use wrong name
  packages/api/routes/applications.js
Labels: api, bug

#326 docs(api): fix upload in openapi doc
  packages/api/openapi.yml
Labels: api, documentation

#331 chore(manager): rename apiKey revoke to delete
  packages/api/openapi.yml
  packages/manager/src/components/authentication/APIKeySubTable.tsx
Labels: manager

#332 chore(manager): rename servers to environments
  packages/manager/src/Routes.tsx
  packages/manager/src/components/environment/EnvironmentList.tsx
  packages/manager/src/components/environment/EnvironmentTable.tsx
  packages/manager/src/layout/PageNav.tsx
Labels: manager

#334 fix(npm-audit): Fix npm audit vulnerabilities.
  e2e/manager/package-lock.json
  e2e/manager/package.json
  package-lock.json
Labels: chore

#338 chore(#337): Removed unused files, console logs and fixed grammatical errors
  packages/api/controllers/apiKey.js
  packages/api/controllers/apiKey.test.js
  packages/api/controllers/application.js
  packages/api/controllers/application.test.js
  packages/api/controllers/user.js
  packages/api/models/user.js
  packages/api/routes/apiKeys.js
  packages/api/routes/applications.js
  packages/api/scripts/fetchpk.js
  packages/api/services/apiKeyService.js
  packages/api/utils/errors/NotImplementedError.js
  packages/api/utils/keyUtil.js
Labels: api, chore

#336 fix(#335): Added catch block to serviceWorker unregister method.
  packages/manager/src/serviceWorker.ts
Labels: bug, manager

#339 fix(#328): Added warning message to Deploy UI page.
  packages/manager/src/components/application/AddApplication.tsx
Labels: documentation, manager

#340 feat(#267): Added JWT refresh to APIService methods.
  packages/manager/src/services/APIService.ts
Labels: api, enhancement, manager

#333 docs(api): Updated API documentation with cURL examples.
  packages/api/README.md
Labels: api, documentation

#349 fixes #329 - add root path spa support to router
  .gitignore
  packages/router/.gitignore
  packages/router/README.md
  packages/router/config.js
  packages/router/index.js
  packages/router/index.test.js
  packages/router/jest.config.js
  packages/router/package-lock.json
Labels: enhancement, router

#357 fix(api): GET application should return details info
  packages/api/controllers/application.js
  packages/api/controllers/application.test.js
Labels: api, enhancement

#354 chore(#353): Enabled Docs and GH links for Manager Page Toolbar.
  packages/manager/src/layout/PageToolbar.tsx
Labels: chore, manager

#360 fix(#359): Jazzed up the Coming Soon message on the Dashboard page.
  packages/manager/src/components/dashboard/DashboardIndex.tsx
Labels: chore, manager

#355 feat(manager): show application index in real data
  packages/manager/src/components/application/AddApplication.tsx
  packages/manager/src/components/application/ApplicationDetail.tsx
  packages/manager/src/components/application/ApplicationEnvironmentColumn.tsx
  packages/manager/src/components/application/ApplicationEnvironmentTable.tsx
  packages/manager/src/components/application/ApplicationIndex.tsx
  packages/manager/src/components/application/ApplicationList.tsx
  packages/manager/src/components/application/ApplicationTable.tsx
  packages/manager/src/components/application/DeploySubTable.tsx
  packages/manager/src/components/application/EnvironmentDetails.tsx
  packages/manager/src/components/application/PrimaryDetails.tsx
  packages/manager/src/components/authentication/APIKeyCreateModal.tsx
  packages/manager/src/components/authentication/APIKeyList.tsx
  packages/manager/src/components/authentication/APIKeySubTable.tsx
  packages/manager/src/components/authentication/APIKeyTable.tsx
  packages/manager/src/components/general/Spinner.tsx
  packages/manager/src/models/APIKey.ts
  packages/manager/src/models/Application.ts
  packages/manager/src/services/APIKeyService.ts
  packages/manager/src/services/APIService.ts
  packages/manager/src/services/ApplicationService.ts
  packages/manager/src/utils/APIUtil.ts
Labels: enhancement, manager

#369 Fixes #364 - redirect root at root path spa
  packages/router/index.js
  packages/router/package-lock.json
Labels: router

#371 fix(api): #370 return error if app's user not match
  packages/api/controllers/application.js
  packages/api/controllers/application.test.js
Labels: api, bug

#372 fix(manager): when apiKey generated without any environment name
  packages/manager/src/services/APIKeyService.ts
Labels: bug, manager

#368 fix(#367): Fixed multiple minor styling issues across Manager components.
  packages/manager/src/components/application/ApplicationList.tsx
  packages/manager/src/components/application/ApplicationTable.tsx
  packages/manager/src/components/authentication/APIKeyTable.tsx
  packages/manager/src/components/dashboard/DashboardIndex.tsx
Labels: bug, manager

#363 chore(#362): Replaced the static loading text with EmptySpinner Component.
  packages/manager/src/Routes.tsx
  packages/manager/src/components/user/LoginForm.tsx
  packages/manager/src/components/user/LoginPage.tsx
Labels: chore, manager

#366 fix(#365): Added SPAship definition & Footer info to SPAship login page.
  packages/manager/src/components/user/LoginPage.tsx
Labels: enhancement, manager

#378 docs(api): add get application api doc
  packages/api/openapi.yml
Labels: api, documentation

#379 fix(api): #300 apiKeys endpoint can not auth by apiKey
  packages/api/middlewares/authentication.js
Labels: api, bug

#381 fix(api): use fileService to find app by name
  packages/api/controllers/application.js
  packages/api/controllers/application.test.js
  packages/api/services/fileService.js
  packages/api/services/fileService.test.js
Labels: api, bug

#383 test(e2e): clean e2e folder structure
  .gitignore
  e2e/README.md
  e2e/api/README.md
  e2e/cypress/api/collection.json
  e2e/cypress/api/environment.json
  e2e/cypress/fixtures/test-spa/index.html
  e2e/cypress/integration/manager.spec.js
  e2e/cypress/plugins/index.js
  e2e/cypress/support/commands.js
  e2e/cypress/support/index.js
  e2e/index.js
  e2e/manager/README.md
  e2e/manager/cypress.json
  e2e/manager/cypress/fixtures/test/index.html
  e2e/manager/cypress/integration/spa_spec.js
  e2e/manager/package.json
  e2e/package-lock.json
  e2e/package.json
Labels: testing

#386 fix(manager): show path error in environment details
  packages/manager/public/config/manager.js
  packages/manager/src/services/ApplicationService.ts
Labels: bug, manager

#384 test(api): add unit test for deploy
  packages/api/controllers/application.js
  packages/api/controllers/application.test.js
  packages/api/package-lock.json
  packages/api/package.json
  packages/api/services/deployService.js
  packages/api/services/fileService.js
Labels: bug, manager

#388 chore: add travis badge
  README.md
Labels: chore
