Repository spaship/spaship, pull requests merged in 2020-07, with the labels that each got.

#634 feat(#513): Added warning message to the New API Key modal.
  packages/manager/src/components/authentication/APIKeyCreateModal.tsx
Labels: enhancement, manager

#637 fix(manager): #318 disable submit button if use duplicate label
  packages/manager/src/components/authentication/APIKeyCreateModal.tsx
  packages/manager/src/components/authentication/APIKeyList.tsx
Labels: manager

#455 feat (#449): Added automatic zipping of build artifacts
  packages/api/package-lock.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/deploy.js
  packages/cli/src/common/zip.js
  packages/common/lib/config/index.js
  packages/common/lib/config/readRaw.js
  packages/common/lib/config/readRaw.test.js
Labels: cli, enhancement
