Repository spaship/spaship, pull requests merged in 2020-10, with the labels that each got.

#748 docs(#59): Added the first draft for User Guide to docusaurus.
  packages/documentation/docs/user-guide/image_0.png
  packages/documentation/docs/user-guide/image_1.jpg
  packages/documentation/docs/user-guide/image_10.png
  packages/documentation/docs/user-guide/image_11.png
  packages/documentation/docs/user-guide/image_12.png
  packages/documentation/docs/user-guide/image_13.png
  packages/documentation/docs/user-guide/image_14.png
  packages/documentation/docs/user-guide/image_15.png
  packages/documentation/docs/user-guide/image_16.png
  packages/documentation/docs/user-guide/image_17.png
  packages/documentation/docs/user-guide/image_18.png
  packages/documentation/docs/user-guide/image_19.png
  packages/documentation/docs/user-guide/image_2.png
  packages/documentation/docs/user-guide/image_3.png
  packages/documentation/docs/user-guide/image_4.png
  packages/documentation/docs/user-guide/image_5.png
  packages/documentation/docs/user-guide/image_6.png
  packages/documentation/docs/user-guide/image_7.png
  packages/documentation/docs/user-guide/image_8.png
  packages/documentation/docs/user-guide/image_9.png
  packages/documentation/docs/user-guide/user-guide.md
  packages/documentation/package-lock.json
  packages/documentation/sidebars.js
Labels: documentation

#763 chore(infra): release SPAship OpenShift templates
  install/openshift/spaship-mongodb.yaml
  install/openshift/spaship.yaml
Labels: Integration, enhancement

#865 test(docs): add a test script for documentation
  packages/documentation/package.json
Labels: documentation, testing
