Repository spaship/spaship, pull requests merged in 2022-09, with the labels that each got.

#1854 feat(api) : activity stream, nextRef & indentifier configured into orchestrator
  packages/api/controllers/application.js
  packages/api/controllers/operatorServices/event/consumeEvent.js
  packages/api/controllers/operatorServices/operations/getPropertyList.js
  packages/api/controllers/operatorServices/operations/saveActivity.js
  packages/api/controllers/operatorServices/operations/saveAlias.js
  packages/api/models/activityStream.js
  packages/api/models/application.js
Labels: api

#1853 feat(manager) : Identifier added for spa props
  packages/manager/@types/spaProperty/index.d.ts
  packages/manager/components/web-property/spaProperty.tsx
Labels: manager

#1855 fix(api) : changes in data script for applications & events
  packages/api/controllers/scripts/applicationDataDump.js
  packages/api/controllers/scripts/eventDataDump.js
Labels: api

#1861 chore: added docker ignore file
  packages/manager/.dockerignore
Labels: chore

#1864 Remove unused CI add nx-lerna and scope to env table
  .github/workflows/api-ci.yaml
  .github/workflows/manager-ci.yaml
  lerna.json
  nx.json
  package-lock.json
  package.json
  packages/manager/package-lock.json
  packages/manager/package.json
  packages/manager/src/components/DeleteConfirmationModal/DeleteConfirmationModal.tsx
  packages/manager/src/services/apiKeys/types.ts
  packages/manager/src/views/WebPropertyEnvPage/WebPropertyEnvPage.tsx
Labels: dependencies, chore

#1865 fix(manager): added validation and responsive chart
  packages/manager/src/context/AuthGuard/AuthGuard.tsx
  packages/manager/src/layouts/AppLayout/components/Nav/Nav.tsx
  packages/manager/src/layouts/AppLayout/components/SideBar/SideBar.tsx
  packages/manager/src/pages/_app.tsx
  packages/manager/src/pages/coming-soon.tsx
  packages/manager/src/styles/globals.css
  packages/manager/src/views/AddWebPropertyPage/AddWebProperty.utils.ts
  packages/manager/src/views/SPAPropertyDetailPage/SPAPropertyDetailPage.tsx
  packages/manager/src/views/StayTunedPage/StayTunedPage.tsx
  packages/manager/src/views/StayTunedPage/index.tsx
  packages/manager/src/views/WebPropertyDetailPage/WebPropertyDetailPage.tsx
  packages/manager/src/views/WebPropertyEnvPage/components/CreateAPIKeyForm/CreateAPIKeyForm.tsx
  packages/manager/src/views/WebPropertyEnvPage/components/CreateEnvForm/CreateEnvForm.tsx
  packages/manager/src/views/WebPropertyListPage/components/WebPropertyCard/WebPropertyCard.tsx
Labels: bug, manager

#1867 feat(api) : env added for apikeys
  packages/api/controllers/apiKey.js
  packages/api/controllers/application.js
  packages/api/models/apiKey.js
Labels: api

#1868 fix(manager): fixed calender date going out of screen
  packages/manager/src/views/WebPropertyEnvPage/components/CreateAPIKeyForm/CreateAPIKeyForm.tsx
Labels: bug, manager

#1870 Added missing lockfile for manager
  packages/manager/Dockerfile
  packages/manager/package-lock.json
Labels: bug, manager

#1872 Change in GitHub action, manager build CI
  .github/workflows/manager-ci.yaml
Labels: chore

#1882 fix(manager): added end range in line chart and broken image url
  packages/manager/src/views/AddWebPropertyPage/AddWebPropertyPage.tsx
  packages/manager/src/views/SPAPropertyDetailPage/SPAPropertyDetailPage.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/EmptyInfo/EmptyInfo.tsx
  packages/manager/src/views/WebPropertyListPage/WebPropertyListPage.tsx
Labels: bug, manager

#1884 feat(api) : payload for the activities & logger added
  packages/api/controllers/application.js
  packages/api/controllers/operatorServices/operations/deletePropertyEnv.js
  packages/api/controllers/operatorServices/operations/saveActivity.js
  packages/api/middlewares/authentication.js
  packages/api/models/activityStream.js
Labels: api

#1885 fix(api) : payload issues resolved
  packages/api/controllers/operatorServices/event/consumeEvent.js
  packages/api/controllers/operatorServices/operations/saveActivity.js
  packages/api/controllers/operatorServices/operations/saveAlias.js
  packages/api/models/activityStream.js
Labels: api

#1896 feat(prod-label): changed slider in env to dynamic
  packages/manager/package-lock.json
  packages/manager/package.json
  packages/manager/src/views/AddWebPropertyPage/AddWebPropertyPage.tsx
  packages/manager/src/views/WebPropertyEnvPage/WebPropertyEnvPage.tsx
  packages/manager/src/views/WebPropertyEnvPage/components/CreateEnvForm/CreateEnvForm.tsx
Labels: manager
