Repository spaship/spaship, pull requests merged in 2022-11, with the labels that each got.

#1962 feat(api) : apikey services
  packages/api/src/app.module.ts
  packages/api/src/configuration/interceptors/response.interceptor.ts
  packages/api/src/main.ts
  packages/api/src/repository/generic-repository.abstract.ts
  packages/api/src/repository/mongo/model/apikey.model.ts
  packages/api/src/repository/mongo/model/application.model.ts
  packages/api/src/repository/mongo/mongo-generic-repository.ts
  packages/api/src/server/api-key/apikey.controller.ts
  packages/api/src/server/api-key/apikey.dto.ts
  packages/api/src/server/api-key/apikey.entity.ts
  packages/api/src/server/api-key/service/apikey.factory.ts
  packages/api/src/server/api-key/service/apikey.module.ts
  packages/api/src/server/api-key/service/apikey.service.ts
  packages/api/src/server/application/application.controller.ts
  packages/api/src/server/application/application.dto.ts
  packages/api/src/server/auth/service/auth.module.ts
  packages/api/src/server/auth/service/auth.service.ts
  packages/api/src/server/deployment-conncetion/deployment-connection.controller.ts
  packages/api/src/server/deployment-conncetion/deployment-connection.dto.ts
  packages/api/src/server/property/environment.dto.ts
  packages/api/src/server/property/property.controller.ts
  packages/api/src/server/property/property.dto.ts
  packages/api/src/server/property/property.response.dto.ts
Labels: api

#1963 feat(api) : event processing & sse added
  packages/api/.eslintrc.json
  packages/api/src/main.ts
  packages/api/src/repository/mongo/model/event-time-trace.model.ts
  packages/api/src/repository/mongo/model/event.model.ts
  packages/api/src/server/api-key/service/apikey.service.ts
  packages/api/src/server/application/service/application.factory.ts
  packages/api/src/server/property/service/property.factory.ts
  packages/api/src/server/sse-services/event-time-trace.entity.ts
  packages/api/src/server/sse-services/event.entity.ts
  packages/api/src/server/sse-services/service/sse-consume.module.ts
  packages/api/src/server/sse-services/service/sse-consume.service.ts
Labels: api

#1964 feat(api) : activity stream & analytics added
  packages/api/Dockerfile
  packages/api/package-lock.json
  packages/api/package.json
  packages/api/src/app.module.ts
  packages/api/src/configuration/index.ts
  packages/api/src/main.ts
  packages/api/src/repository/data-services.abstract.ts
  packages/api/src/repository/generic-repository.abstract.ts
  packages/api/src/repository/mongo/model/activity-stream.model.ts
  packages/api/src/repository/mongo/model/deployment-connection.model.ts
  packages/api/src/repository/mongo/model/deployment-record.model.ts
  packages/api/src/repository/mongo/model/environment.model.ts
  packages/api/src/repository/mongo/model/event-time-trace.model.ts
  packages/api/src/repository/mongo/model/event.model.ts
  packages/api/src/repository/mongo/model/index.ts
  packages/api/src/repository/mongo/mongo-data-services.module.ts
  packages/api/src/repository/mongo/mongo-data-services.service.ts
  packages/api/src/repository/mongo/mongo-generic-repository.ts
  packages/api/src/server/analytics/activity-stream.entity.ts
  packages/api/src/server/analytics/analytics.controller.ts
  packages/api/src/server/analytics/service/analytics.factory.ts
  packages/api/src/server/analytics/service/analytics.module.ts
  packages/api/src/server/analytics/service/analytics.service.ts
  packages/api/src/server/api-key/apikey.controller.ts
  packages/api/src/server/api-key/apikey.entity.ts
  packages/api/src/server/api-key/service/apikey.module.ts
  packages/api/src/server/api-key/service/apikey.service.ts
  packages/api/src/server/application/application.controller.ts
  packages/api/src/server/application/service/application.factory.ts
  packages/api/src/server/application/service/application.module.ts
  packages/api/src/server/application/service/application.service.ts
  packages/api/src/server/deployment-conncetion/deployment-connection.controller.ts
  packages/api/src/server/deployment-conncetion/service/deployment-connection.module.ts
  packages/api/src/server/deployment-conncetion/service/deployment-connection.service.ts
  packages/api/src/server/event/event-time-trace.entity.ts
  packages/api/src/server/event/event.entity.ts
  packages/api/src/server/event/service/event.module.ts
  packages/api/src/server/event/service/event.service.ts
  packages/api/src/server/property/environment.entity.ts
  packages/api/src/server/property/property.controller.ts
  packages/api/src/server/property/property.entity.ts
  packages/api/src/server/property/service/property.factory.ts
  packages/api/src/server/property/service/property.module.ts
  packages/api/src/server/property/service/property.service.ts
  packages/api/src/server/sse-services/service/sse-consume.module.ts
Labels: api

#1967 feat(api) : ephemeral preview added
  packages/api/package-lock.json
  packages/api/package.json
  packages/api/src/app.module.ts
  packages/api/src/configuration/index.ts
  packages/api/src/main.ts
  packages/api/src/server/agenda/agenda.module.ts
  packages/api/src/server/agenda/agenda.service.ts
  packages/api/src/server/application/application.controller.ts
  packages/api/src/server/application/application.dto.ts
  packages/api/src/server/application/service/application.factory.ts
  packages/api/src/server/application/service/application.module.ts
  packages/api/src/server/application/service/application.service.ts
  packages/api/src/server/environment/environment.controller.ts
  packages/api/src/server/environment/service/environment.factory.ts
  packages/api/src/server/environment/service/environment.module.ts
  packages/api/src/server/environment/service/environment.service.ts
  packages/api/src/server/property/service/property.module.ts
  packages/api/src/server/property/service/property.service.ts
Labels: api

#1968 feat(api) : authentication module added
  packages/api/package-lock.json
  packages/api/package.json
  packages/api/src/app.module.ts
  packages/api/src/configuration/index.ts
  packages/api/src/configuration/pipe/trim-pipe.pipe.ts
  packages/api/src/main.ts
  packages/api/src/repository/mongo/model/apikey.model.ts
  packages/api/src/server/analytics/analytics.controller.ts
  packages/api/src/server/api-key/apikey.controller.ts
  packages/api/src/server/api-key/apikey.dto.ts
  packages/api/src/server/api-key/apikey.entity.ts
  packages/api/src/server/api-key/service/apikey.factory.ts
  packages/api/src/server/api-key/service/apikey.service.ts
  packages/api/src/server/application/application.controller.ts
  packages/api/src/server/application/application.dto.ts
  packages/api/src/server/auth/auth.abstract.ts
  packages/api/src/server/auth/auth.module.ts
  packages/api/src/server/auth/jwt.auth.guard.ts
  packages/api/src/server/auth/jwt/jwt-auth.guard.ts
  packages/api/src/server/auth/jwt/jwt.contrains.ts
  packages/api/src/server/auth/jwt/jwt.strategy.ts
  packages/api/src/server/auth/service/auth.module.ts
  packages/api/src/server/auth/service/auth.service.ts
  packages/api/src/server/deployment-conncetion/deployment-connection.controller.ts
  packages/api/src/server/environment/environment.controller.ts
  packages/api/src/server/environment/environment.dto.ts
  packages/api/src/server/property/property.controller.ts
  packages/api/src/server/property/property.dto.ts
Labels: api

#1980 feat(api) : event stream producer added
  packages/api/.eslintrc.json
  packages/api/package-lock.json
  packages/api/package.json
  packages/api/src/app.module.ts
  packages/api/src/repository/data-services.abstract.ts
  packages/api/src/server/analytics/analytics.controller.ts
  packages/api/src/server/analytics/service/analytics.service.ts
  packages/api/src/server/api-key/apikey.controller.ts
  packages/api/src/server/api-key/service/apikey.factory.ts
  packages/api/src/server/api-key/service/apikey.service.ts
  packages/api/src/server/application/application.controller.ts
  packages/api/src/server/application/application.dto.ts
  packages/api/src/server/application/service/application.factory.ts
  packages/api/src/server/application/service/application.service.ts
  packages/api/src/server/auth/auth.guard.ts
  packages/api/src/server/auth/auth.module.ts
  packages/api/src/server/deployment-connection/deployment-connection.controller.ts
  packages/api/src/server/deployment-connection/deployment-connection.dto.ts
  packages/api/src/server/deployment-connection/deployment-connection.entity.ts
  packages/api/src/server/deployment-connection/service/deployment-connection.factory.ts
  packages/api/src/server/deployment-connection/service/deployment-connection.module.ts
  packages/api/src/server/deployment-connection/service/deployment-connection.service.ts
  packages/api/src/server/environment/environment.controller.ts
  packages/api/src/server/environment/environment.dto.ts
  packages/api/src/server/environment/service/environment.factory.ts
  packages/api/src/server/environment/service/environment.service.ts
  packages/api/src/server/event/service/event.service.ts
  packages/api/src/server/property/property.controller.ts
  packages/api/src/server/property/service/property.service.ts
Labels: api

#1992 feat(api) : changes in event and activity apis
  packages/api/.eslintrc.json
  packages/api/package-lock.json
  packages/api/package.json
  packages/api/src/configuration/index.ts
  packages/api/src/configuration/pipe/trim-pipe.pipe.ts
  packages/api/src/server/agenda/agenda.service.ts
  packages/api/src/server/analytics/analytics.controller.ts
  packages/api/src/server/analytics/service/analytics.factory.ts
  packages/api/src/server/analytics/service/analytics.service.ts
  packages/api/src/server/api-key/service/apikey.factory.ts
  packages/api/src/server/api-key/service/apikey.service.ts
  packages/api/src/server/application/service/application.factory.ts
  packages/api/src/server/application/service/application.service.ts
  packages/api/src/server/auth/auth.guard.ts
  packages/api/src/server/environment/service/environment.factory.ts
  packages/api/src/server/environment/service/environment.service.ts
  packages/api/src/server/event/service/event.service.ts
Labels: api

#2003 feat(api) : sync & auth added
  packages/api/src/configuration/index.ts
  packages/api/src/repository/mongo/model/environment.model.ts
  packages/api/src/server/analytics/activity-stream.entity.ts
  packages/api/src/server/application/application.controller.ts
  packages/api/src/server/application/service/application.factory.ts
  packages/api/src/server/auth/auth.factory.ts
  packages/api/src/server/auth/auth.guard.ts
  packages/api/src/server/auth/auth.module.ts
  packages/api/src/server/environment/environment.controller.ts
  packages/api/src/server/environment/environment.dto.ts
  packages/api/src/server/environment/environment.entity.ts
  packages/api/src/server/environment/service/environment.factory.ts
  packages/api/src/server/environment/service/environment.service.ts
Labels: api

#2005 feat(api) : filtering added for the realtime events
  packages/api/src/server/analytics/analytics.controller.ts
  packages/api/src/server/analytics/service/analytics.service.ts
  packages/api/src/server/api-key/apikey.dto.ts
  packages/api/src/server/api-key/service/apikey.service.ts
Labels: api

#2008 feat(api) : changes in activity stream response
  packages/api/src/repository/generic-repository.abstract.ts
  packages/api/src/repository/mongo/mongo-generic-repository.ts
  packages/api/src/server/analytics/service/analytics.service.ts
Labels: api

#2009 fix(api) : changes in sync api
  packages/api/src/server/environment/environment.controller.ts
  packages/api/src/server/environment/environment.dto.ts
  packages/api/src/server/environment/service/environment.service.ts
Labels: api

#2006 chore(sync-service) - Add sync service feature
  packages/manager/package-lock.json
  packages/manager/package.json
  packages/manager/src/components/ActivityStream/ActivityStream.tsx
  packages/manager/src/components/ActivityStream/index.tsx
  packages/manager/src/services/analytics/queries.tsx
  packages/manager/src/services/analytics/types.ts
  packages/manager/src/services/persistent/queries.tsx
  packages/manager/src/services/sync/index.tsx
  packages/manager/src/services/sync/queries.tsx
  packages/manager/src/services/sync/types.ts
  packages/manager/src/views/SPAPropertyDetailPage/SPAPropertyDetailPage.tsx
  packages/manager/src/views/WebPropertyDetailPage/WebPropertyDetailPage.tsx
  packages/manager/src/views/WebPropertyEnvPage/WebPropertyEnvPage.tsx
  packages/manager/src/views/WebPropertyEnvPage/components/SyncServiceForm/SyncServiceForm.tsx
  packages/manager/src/views/WebPropertyEnvPage/components/SyncServiceForm/index.tsx
Labels: enhancement, manager

#2010 Fix/activity stream - Added env_sync activity
  packages/manager/src/components/ActivityStream/ActivityStream.tsx
Labels: manager

#2011 feat(api) : updatedBy added for the collections
  packages/api/src/repository/mongo/model/application.model.ts
  packages/api/src/repository/mongo/model/environment.model.ts
  packages/api/src/repository/mongo/model/property.model.ts
  packages/api/src/server/analytics/activity-stream.entity.ts
  packages/api/src/server/application/application.entity.ts
  packages/api/src/server/application/service/application.factory.ts
  packages/api/src/server/application/service/application.service.ts
  packages/api/src/server/environment/environment.entity.ts
  packages/api/src/server/environment/service/environment.factory.ts
  packages/api/src/server/environment/service/environment.service.ts
  packages/api/src/server/property/property.entity.ts
  packages/api/src/server/property/service/property.factory.ts
Labels: api

#2013 fix(api) : change in applications api
  packages/api/src/server/application/application.controller.ts
Labels: api

#2012 Fix/spa activity - Fixed fetch request
  packages/manager/src/services/analytics/queries.tsx
Labels: manager

#2018 fix(api) : undefined ref issue resolved
  packages/api/src/server/application/service/application.factory.ts
  packages/api/src/server/application/service/application.service.ts
Labels: api

#2019 feat(api) : pagination added for activity stream
  packages/api/src/repository/generic-repository.abstract.ts
  packages/api/src/repository/mongo/mongo-generic-repository.ts
  packages/api/src/server/analytics/analytics.controller.ts
  packages/api/src/server/analytics/service/analytics.service.ts
Labels: api

#2020 chore(activity-stream) - Added extra events to the activity stream
  packages/manager/package-lock.json
  packages/manager/package.json
  packages/manager/src/components/ActivityStream/ActivityStream.tsx
  packages/manager/src/services/analytics/queries.tsx
Labels: enhancement, manager, chore

#2021 chore(sync-activity) - Added createdBy to eph
  packages/manager/src/layouts/AppLayout/AppLayout.tsx
  packages/manager/src/services/analytics/queries.tsx
  packages/manager/src/services/ephemeral/types.ts
  packages/manager/src/views/WebPropertyDetailPage/components/Ephemeral/Ephemeral.tsx
Labels: manager

#2025 fix(api) : dependency issue resolved
  packages/api/package-lock.json
  packages/api/package.json
Labels: api

#2027 fix(session-type) - Added error type for session
  packages/manager/src/context/AuthGuard/AuthGuard.tsx
  packages/manager/src/types/next-auth.d.ts
Labels: manager

#2030 chore(update-sync-config) - Added sync config values
  packages/manager/src/services/persistent/types.ts
  packages/manager/src/views/WebPropertyEnvPage/components/SyncServiceForm/SyncServiceForm.tsx
Labels: enhancement, manager, chore

#2045 chore(sync-info) - Fixed sync error and added info icon
  packages/manager/package-lock.json
  packages/manager/package.json
  packages/manager/src/components/ActivityStream/ActivityStream.tsx
  packages/manager/src/views/WebPropertyEnvPage/WebPropertyEnvPage.tsx
  packages/manager/src/views/WebPropertyEnvPage/components/SyncServiceForm/SyncServiceForm.tsx
Labels: manager

#2058 fix(api) : zip types added for bz, 7z
  packages/api/src/server/application/application.controller.ts
Labels: api

#2062 feat(api) : validation message refactored
  packages/api/src/configuration/index.ts
  packages/api/src/server/application/application.dto.ts
  packages/api/src/server/application/service/application.service.ts
Labels: cli, api
