Repository spaship/spaship, pull requests merged in 2022-08, with the labels that each got.

#1825 feat(api) : API key segregation of envs
  packages/api/controllers/apiKey.js
  packages/api/controllers/application.js
  packages/api/models/apiKey.js
Labels: api

#1827 fix(api) : env checks added for the api-key during deployment
  packages/api/config.js
  packages/api/middlewares/authentication.js
Labels: api

#1828 fix(api) : loggers added for request
  packages/api/middlewares/authentication.js
Labels: api

#1829 feat(api) : check env feature added in API key
  packages/api/controllers/apiKey.js
  packages/api/controllers/application.js
  packages/api/index.js
  packages/api/middlewares/authentication.js
  packages/api/models/apiKey.js
  packages/api/routes/apiKeys.js
Labels: api

#1830 feat(manager) : API Key revamped
  packages/manager/components/settings/apiKey.tsx
  packages/manager/components/settings/envList.tsx
  packages/manager/package.json
  packages/manager/pages/api/validate.tsx
  packages/manager/pages/properties/[propertyName]/settings/index.tsx
Labels: manager

#1833 fix(api) : env & label issues resovled
  packages/manager/components/settings/apiKey.tsx
Labels: manager

#1837 feat(manager) : delete api key feature & spinner fix
  packages/manager/components/settings/envList.tsx
  packages/manager/components/web-property/newProperty.tsx
  packages/manager/pages/api/delete/apiKey.tsx
  packages/manager/pages/properties/[propertyName]/settings/index.tsx
  packages/manager/utils/api.utils.ts
  packages/manager/utils/endpoint.utils.ts
Labels: manager

#1838 fix(api) : webproperty creation issue resolved
  packages/api/controllers/apiKey.js
  packages/api/controllers/operatorServices/operations/saveAlias.js
Labels: api

#1839 fix(api) : max limit set to 10 for deployment api/min
  packages/api/app.js
  packages/api/index.js
Labels: api

#1840 fix(api) : created by added in response
  packages/api/controllers/apiKey.js
Labels: api

#1841 feat(api) : Delete API & Rate limiter configured
  packages/api/app.js
  packages/api/controllers/application.js
  packages/api/routes/applications.js
Labels: api

#1832 chore(1821) - Add feedback button and another minor changes
  packages/manager/components/layout/header/index.tsx
  packages/manager/components/settings/apiKey.tsx
  packages/manager/components/settings/createEnv.tsx
  packages/manager/components/settings/deleteSpa.tsx
  packages/manager/components/settings/envList.tsx
  packages/manager/components/settings/manageSpa.tsx
  packages/manager/components/web-property/newProperty.tsx
  packages/manager/components/web-property/spaProperty.tsx
  packages/manager/components/web-property/webProperty.tsx
  packages/manager/package-lock.json
  packages/manager/package.json
  packages/manager/pages/_app.tsx
  packages/manager/pages/api/webPropertyOnboard.tsx
  packages/manager/pages/index.tsx
  packages/manager/pages/properties/[propertyName]/index.tsx
  packages/manager/pages/properties/[propertyName]/settings/index.tsx
  packages/manager/scripts/GlobalConstants.ts
  packages/manager/styles/globals.css
  packages/manager/utils/api.utils.ts
Labels: manager

#1845 feat(api) : scipt for apikeys
  packages/api/controllers/scripts/apiKeysDump.js
  packages/api/routes/scripts/dataDump.js
Labels: api

#1846 fix(manager) : Error message changed
  packages/manager/components/settings/createEnv.tsx
  packages/manager/components/web-property/newProperty.tsx
Labels: manager

#1847 Chore/1842 - Add feedback button
  packages/manager/components/layout/header/index.tsx
  packages/manager/components/settings/apiKey.tsx
  packages/manager/components/settings/createEnv.tsx
  packages/manager/components/settings/envList.tsx
  packages/manager/components/web-property/spaProperty.tsx
  packages/manager/package-lock.json
  packages/manager/package.json
Labels: enhancement, chore

#1849 HOT FIX - fix(1842) - Added important to increase specificity
  packages/manager/components/settings/envList.tsx
Labels: enhancement

#1850 feat(spaship) : spaship version changed
  package.json
  packages/manager/package.json
Labels: manager

#1851 fix(manager) : path mismatch with spa issue
  packages/manager/components/web-property/spaProperty.tsx
Labels: manager
