Repository spaship/spaship, pull requests merged in 2022-07, with the labels that each got.

#1798 chore(1787) - Create Openshift Hosted path Hyperlink
  packages/manager/components/web-property/spaProperty.tsx
  packages/manager/package-lock.json
  packages/manager/package.json
Labels: manager

#1799 fix(cli) : zipping file issue resolved
  packages/cli/src/common/zip.js
Labels: cli

#1800 fix(api) : accesurl issue for basepath resovled
  packages/api/controllers/operatorServices/event/consumeEvent.js
Labels: cli

#1801 feat(cli) : spaship env descriptions added
  packages/cli/README.md
Labels: cli

#1803 feat(cli) : changes in readme
  packages/cli/README.md
  packages/cli/package-lock.json
  packages/cli/package.json
Labels: cli

#1809 chore(1808) - Add trailing forward-slash / for the frontend
  packages/manager/components/web-property/spaProperty.tsx
Labels: manager

#1810 fix(api) : rootspa issue resolved
  packages/api/controllers/application.js
  packages/api/controllers/operatorServices/event/consumeEvent.js
  packages/api/services/deployService.js
Labels: api

#1813 hotfix(cli) : init command issue resolved
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/init.js
Labels: cli

#1816 feat(api) : apikey deletion service updated
  packages/api/controllers/apiKey.js
  packages/api/routes/apiKeys.js
Labels: api

#1818 chore(1817) - Create a quick start guide
  packages/documentation/blog/2020-06-30-welcome.md
  packages/documentation/docs/guide/user-guide/Quickstart.md
  packages/documentation/docs/guide/user-guide/cli.md
  packages/documentation/docs/guide/user-guide/cloud-native-images/create-api-key.png
  packages/documentation/docs/guide/user-guide/cloud-native-images/deploy-url.png
  packages/documentation/docs/guide/user-guide/cloud-native-images/env-config.png
  packages/documentation/docs/guide/user-guide/cloud-native-images/generate-api-key.png
  packages/documentation/docs/guide/user-guide/cloud-native-images/image_10.png
  packages/documentation/docs/guide/user-guide/cloud-native-images/image_11.png
  packages/documentation/docs/guide/user-guide/cloud-native-images/image_12.png
  packages/documentation/docs/guide/user-guide/cloud-native-images/image_13.png
  packages/documentation/docs/guide/user-guide/cloud-native-images/image_14.png
  packages/documentation/docs/guide/user-guide/cloud-native-images/image_15.png
  packages/documentation/docs/guide/user-guide/cloud-native-images/image_16.png
  packages/documentation/docs/guide/user-guide/cloud-native-images/image_17.png
  packages/documentation/docs/guide/user-guide/cloud-native-images/image_18.png
  packages/documentation/docs/guide/user-guide/cloud-native-images/image_19.png
  packages/documentation/docs/guide/user-guide/cloud-native-images/image_2.png
  packages/documentation/docs/guide/user-guide/cloud-native-images/image_20.png
  packages/documentation/docs/guide/user-guide/cloud-native-images/image_3.png
  packages/documentation/docs/guide/user-guide/cloud-native-images/image_4.png
  packages/documentation/docs/guide/user-guide/cloud-native-images/image_9.png
  packages/documentation/docs/guide/user-guide/cloud-native-images/new-web-prop.png
  packages/documentation/package-lock.json
  packages/documentation/package.json
  packages/documentation/sidebars.js
Labels: documentation

#1819 fix(api) : response status code changed for auth
  packages/api/middlewares/authentication.js
Labels: api

#1823 fix(cli): CLI error handling & changes error message
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/deploy.js
  packages/cli/src/services/deployService.js
Labels: cli
