Repository spaship/spaship, pull requests merged in 2022-10, with the labels that each got.

#1898 chore(spaship(manager)) - Random property name URL bug
  packages/manager/src/services/spaProperty/queries.tsx
  packages/manager/src/views/SPAPropertyDetailPage/SPAPropertyDetailPage.tsx
  packages/manager/src/views/WebPropertyDetailPage/WebPropertyDetailPage.tsx
Labels: bug, manager

#1900 feat(api) : Ephemeral preview feature in SPAship
  packages/api/agenda.js
  packages/api/config.js
  packages/api/controllers/application.js
  packages/api/controllers/operatorServices/operations/deletePropertyEnv.js
  packages/api/controllers/operatorServices/operations/ephemeralEnvCreation.js
  packages/api/controllers/operatorServices/operations/ephemeralEnvDeletion.js
  packages/api/index.js
  packages/api/models/ephemeralRecord.js
  packages/api/package-lock.json
  packages/api/package.json
  packages/api/services/deployService.js
  packages/api/utils/agenda-jobs/initializeDeleteJobs.js
Labels: api

#1942 feat(api) : changes in response for EPH preview
  packages/api/controllers/operatorServices/operations/getEphList.js
  packages/api/controllers/operatorServices/operations/saveAlias.js
Labels: api

#1938 Added pointer cursor on hover in profile and new radio button
  packages/manager/package-lock.json
  packages/manager/package.json
  packages/manager/src/components/Radio/Radio.tsx
  packages/manager/src/components/Radio/index.tsx
  packages/manager/src/components/Radio/radio.module.css
  packages/manager/src/components/index.tsx
  packages/manager/src/layouts/AppLayout/components/Nav/Nav.tsx
  packages/manager/src/services/spaProperty/queries.tsx
  packages/manager/src/styles/globals.css
  packages/manager/src/views/AddWebPropertyPage/AddWebProperty.utils.ts
  packages/manager/src/views/AddWebPropertyPage/AddWebPropertyPage.tsx
  packages/manager/src/views/WebPropertyEnvPage/WebPropertyEnvPage.tsx
  packages/manager/src/views/WebPropertyEnvPage/components/CreateEnvForm/CreateEnvForm.tsx
Labels: manager

#1944 fix(api): validations added in deletion for eph
  packages/api/controllers/operatorServices/operations/deletePropertyEnv.js
  packages/api/controllers/operatorServices/operations/ephemeralEnvDeletion.js
  packages/api/utils/agenda-jobs/initializeDeleteJobs.js
Labels: api

#1943 Spaship/944 fix - Ephemeral preview frontend
  packages/manager/src/services/analytics/queries.tsx
  packages/manager/src/services/apiKeys/queries.tsx
  packages/manager/src/services/ephemeral/index.tsx
  packages/manager/src/services/ephemeral/queries.tsx
  packages/manager/src/services/ephemeral/types.ts
  packages/manager/src/services/spaProperty/queries.tsx
  packages/manager/src/services/webProperty/queries.tsx
  packages/manager/src/views/WebPropertyDetailPage/WebPropertyDetailPage.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/Ephemeral/Ephemeral.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/Ephemeral/index.tsx
Labels: enhancement

#1947 fix(api) : actionId response issue resolved
  packages/api/controllers/operatorServices/operations/getEphList.js
Labels: api

#1948 manager(activity-stream) - Fixed date time for activity stream
  packages/manager/src/views/WebPropertyDetailPage/WebPropertyDetailPage.tsx
Labels: manager

#1951 feat(cli) : ephemeral env changes added
  packages/cli/package.json
  packages/cli/src/commands/deploy.js
Labels: cli

#1952 feat(manager): added intro video to login page
  packages/manager/.env.example
  packages/manager/Dockerfile
  packages/manager/src/config/env.ts
  packages/manager/src/styles/globals.css
  packages/manager/src/views/LoginPage/LoginPage.tsx
Labels: manager

#1953 fix(api) : typecast issue in date resolved
  packages/api/config.js
  packages/api/controllers/operatorServices/operations/ephemeralEnvDeletion.js
Labels: api

#1954 Chore(manager) - Added fixes for invalid time and intro video arg
  .github/workflows/manager-ci.yaml
  packages/manager/package-lock.json
  packages/manager/package.json
  packages/manager/src/config/env.ts
  packages/manager/src/views/SPAPropertyDetailPage/SPAPropertyDetailPage.tsx
  packages/manager/src/views/WebPropertyDetailPage/WebPropertyDetailPage.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/Ephemeral/Ephemeral.tsx
Labels: manager, Hacktoberfest, hacktoberfest-accepted

#1956 manager(banner) - Added banner for eph preview doc
  packages/manager/src/layouts/AppLayout/AppLayout.tsx
Labels: manager, Hacktoberfest, hacktoberfest-accepted
