Repository spaship/spaship, pull requests merged in 2023-06, with the labels that each got.

#2369 Feat(Manager): Application status, Delete from bottom bug in form and Sync for Eph env
  packages/manager/package.json
  packages/manager/src/services/analytics/queries.tsx
  packages/manager/src/services/spaProperty/index.tsx
  packages/manager/src/services/spaProperty/queries.tsx
  packages/manager/src/services/ssr/queries.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/Access.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/ConfigureSSRForm.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/SSRDetails.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/SsrForm.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/workflow3.0/ConfigureWorkflowForm.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/workflow3.0/workflow3.tsx
  packages/manager/src/views/WebPropertyEnvPage/WebPropertyEnvPage.tsx
  packages/manager/src/views/WebPropertyListPage/WebPropertyListPage.tsx
Labels: enhancement, manager

#2370 feat(manager): fixing refetching after deployment after 10 mins
  packages/manager/src/services/ssr/queries.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/workflow3.0/workflow3.tsx
  packages/manager/src/views/WebPropertyEnvPage/WebPropertyEnvPage.tsx
Labels: enhancement, manager

#2371 feat(api) : database heath check service added
  packages/api/package-lock.json
  packages/api/package.json
  packages/api/src/app.module.ts
  packages/api/src/server/health/health.controller.ts
  packages/api/src/server/health/service/health.module.ts
  packages/api/src/server/health/service/health.service.ts
Labels: enhancement, api, chore, health

#2372 feat(manager): Fixing NA in access URL and adding status check on static deployments
  packages/manager/src/views/WebPropertyDetailPage/WebPropertyDetailPage.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/Ephemeral/Ephemeral.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/SSRDetails.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/StaticDeployment.tsx
Labels: enhancement, manager

#2374 feat(manager): Ephemeral env NA access URL handled
  packages/manager/src/views/WebPropertyDetailPage/components/Ephemeral/Ephemeral.tsx
Labels: enhancement, manager

#2373 feat(api) : CORS configs added into env
  packages/api/src/configuration/index.ts
  packages/api/src/main.ts
  packages/api/src/server/health/service/health.module.ts
Labels: api, chore

#2377 feat(Manager): Replacing NA with spinner in accessURL
  packages/manager/src/views/WebPropertyDetailPage/WebPropertyDetailPage.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/Ephemeral/Ephemeral.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/SSRDetails.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/StaticDeployment.tsx
Labels: enhancement, manager

#2379 feat(Manager): Replacing NA with spinner in accessURL
  packages/manager/src/views/WebPropertyDetailPage/WebPropertyDetailPage.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/Ephemeral/Ephemeral.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/SSRDetails.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/StaticDeployment.tsx
Labels: enhancement, manager

#2380 feat(Manager): Eph access URL status checking
  packages/manager/src/views/WebPropertyDetailPage/components/Ephemeral/Ephemeral.tsx
Labels: manager

#2384 chore(api) : updated the length for apikey days
  packages/api/src/configuration/index.ts
Labels: api, chore, apikey
