Repository spaship/spaship, pull requests merged in 2023-11, with the labels that each got.

#2507 fix(api) : containerized deployment request payload issue resolved
  packages/api/src/server/application/service/application.factory.ts
Labels: bug, SSR (Server Side Rendering), deployment

#2508 fix(api) : config update issue fix for CLI deployment
  packages/api/src/server/application/service/application.service.ts
Labels: bug, cli, api, SSR (Server Side Rendering), deployment

#2514 feat(Manager): Fixing spaship crashing issue because of token expiration
  packages/manager/src/context/AuthGuard/AuthGuard.tsx
  packages/manager/src/pages/_app.tsx
Labels: bug, manager

#2515 fix(manager): fixing backlog bugs
  packages/manager/package-lock.json
  packages/manager/package.json
  packages/manager/src/pages/_app.tsx
  packages/manager/src/views/DashboardPage/components/DashboardChart/DashboardChart.tsx
  packages/manager/src/views/Settings/components/AccessControl/AccessControl.tsx
  packages/manager/src/views/WebPropertyDetailPage/WebPropertyDetailPage.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/ContainerizedDeployment.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/SsrForm.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/StaticDeployment.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/workflow3.0/ConfigureWorkflowForm.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/workflow3.0/workflow3.tsx
Labels: bug, manager
