Repository spaship/spaship, pull requests merged in 2023-01, with the labels that each got.

#2100 chore(api) : logger added for webhook
  packages/api/src/server/analytics/activity-stream.entity.ts
  packages/api/src/server/analytics/service/analytics.service.ts
Labels: api

#2101 fix(manager) : Changes in web property instruction page.
  packages/manager/package-lock.json
  packages/manager/package.json
  packages/manager/src/views/AddWebPropertyPage/AddWebPropertyPage.tsx
  packages/manager/src/views/WebPropertyDetailPage/WebPropertyDetailPage.tsx
  packages/manager/src/views/WebPropertyEnvPage/WebPropertyEnvPage.tsx
Labels: manager

#2105 feat(api) : permission module added
  packages/api/src/app.module.ts
  packages/api/src/configuration/index.ts
  packages/api/src/repository/data-services.abstract.ts
  packages/api/src/repository/mongo/model/index.ts
  packages/api/src/repository/mongo/model/permission.model.ts
  packages/api/src/repository/mongo/mongo-data-services.module.ts
  packages/api/src/repository/mongo/mongo-data-services.service.ts
  packages/api/src/server/agenda/agenda.module.ts
  packages/api/src/server/analytics/activity-stream.entity.ts
  packages/api/src/server/application/service/application.module.ts
  packages/api/src/server/auth/auth.guard.ts
  packages/api/src/server/environment/service/environment.module.ts
  packages/api/src/server/permission/permission.controller.ts
  packages/api/src/server/permission/permission.dto.ts
  packages/api/src/server/permission/permission.entity.ts
  packages/api/src/server/permission/service/permission.factory.ts
  packages/api/src/server/permission/service/permission.module.ts
  packages/api/src/server/permission/service/permission.service.ts
  packages/api/src/server/property/service/property.module.ts
  packages/api/src/server/property/service/property.service.ts
Labels: api

#2106 fix(api) : endpoint mismatch & name store in initial permission for Property Creation
  packages/api/src/configuration/index.ts
  packages/api/src/server/analytics/service/analytics.service.ts
  packages/api/src/server/api-key/apikey.controller.ts
  packages/api/src/server/api-key/service/apikey.service.ts
  packages/api/src/server/auth/auth.guard.ts
  packages/api/src/server/environment/environment.controller.ts
  packages/api/src/server/permission/service/permission.service.ts
  packages/api/src/server/property/property.dto.ts
  packages/api/src/server/property/service/property.service.ts
  packages/api/src/server/sot/rover/rover.controller.ts
  packages/api/src/server/sot/rover/service/rover.service.ts
  packages/api/src/server/webhook/service/webhook.controller.ts
Labels: api

#2115 fix(api) : error handling added for webhook
  packages/api/src/server/analytics/service/analytics.service.ts
Labels: api

#2118 feat(api) : webhook response refactored
  packages/api/src/server/analytics/service/analytics.factory.ts
  packages/api/src/server/analytics/service/analytics.service.ts
  packages/api/src/server/api-key/service/apikey.service.ts
  packages/api/src/server/application/service/application.service.ts
  packages/api/src/server/environment/service/environment.service.ts
  packages/api/src/server/event/service/event.service.ts
  packages/api/src/server/webhook/service/webhook.service.ts
  packages/api/src/server/webhook/webhook-response.dto.ts
Labels: api

#2121 feat(api) : changes in permission module
  packages/api/src/server/event/service/event.service.ts
  packages/api/src/server/permission/permission.controller.ts
  packages/api/src/server/permission/permission.dto.ts
  packages/api/src/server/permission/service/permission.factory.ts
  packages/api/src/server/permission/service/permission.service.ts
Labels: api

#2122 fix(api): provide initial access issue for webhook
  packages/api/src/server/analytics/service/analytics.service.ts
Labels: api

#2119 fix(manager): Table skeleton loading on filter value change and page refresh
  packages/manager/src/views/WebPropertyDetailPage/WebPropertyDetailPage.tsx
Labels: manager

#2131 Fix dashboard graph color
  packages/manager/src/services/analytics/queries.tsx
  packages/manager/src/views/DashboardPage/DashboardPage.tsx
  packages/manager/src/views/DashboardPage/components/Analytics/Analytics.tsx
Labels: bug, manager

#2130 chore(api) : Changes in Delete API Key service
  packages/api/src/server/api-key/apikey.controller.ts
  packages/api/src/server/api-key/apikey.dto.ts
  packages/api/src/server/api-key/service/apikey.module.ts
  packages/api/src/server/api-key/service/apikey.service.ts
Labels: api, apikey

#2133 chore(api): name added in permission response
  packages/api/src/server/permission/service/permission.factory.ts
Labels: api

#2141 fix(manager): minor bug fixes in the dashboard section
  packages/manager/src/services/analytics/queries.tsx
  packages/manager/src/views/DashboardPage/components/Analytics/Analytics.tsx
Labels: manager
