Repository spaship/spaship, pull requests merged in 2023-02, with the labels that each got.

#2143 fix(manager): update the time format in spaship dashboad analytics
  packages/manager/src/views/DashboardPage/components/Analytics/Analytics.tsx
Labels: manager

#2152 fix(api) : ssl verify set to false for the search group
  packages/api/package.json
Labels: api

#2156 chore(manager) : changes in apikey deletion endpoint
  packages/manager/package-lock.json
  packages/manager/package.json
  packages/manager/src/services/apiKeys/queries.tsx
  packages/manager/src/services/apiKeys/types.ts
  packages/manager/src/views/WebPropertyEnvPage/WebPropertyEnvPage.tsx
Labels: manager, chore, Access Control, rbac

#2165 fix(api) : few validations & rules added for rbac
  packages/api/src/server/auth/auth.guard.ts
  packages/api/src/server/permission/permission.dto.ts
  packages/api/src/server/permission/service/permission.factory.ts
  packages/api/src/server/permission/service/permission.service.ts
Labels: api, Access Control, rbac

#2170 chore(api) : changes in group permission response
  packages/api/src/server/permission/service/permission.factory.ts
Labels: api, Access Control, rbac, apikey

#2176 fix(api) : activity stream fixed for RBAC Creation
  packages/api/src/server/permission/service/permission.service.ts
Labels: api, Access Control, rbac, activity stream

#2184 feat(api) : version bump
  packages/api/package-lock.json
  packages/api/package.json
Labels: api

#2196 chore(api) : formatted, version updated & rover api optimized
  packages/api/src/main.ts
  packages/api/src/server/permission/service/permission.factory.ts
  packages/api/src/server/sot/rover/service/rover.factory.ts
Labels: api, chore, Access Control, rbac, swagger

#2198 chore(api) : default sort by email for Permission list
  packages/api/src/server/permission/service/permission.service.ts
Labels: api, chore, Access Control, rbac

#2200 fix(manager): handling falsy values in analytics
  packages/manager/src/views/DashboardPage/components/Analytics/Analytics.tsx
Labels: manager

#2209 fix(api) : default limit increased for permission api
  packages/api/src/server/permission/service/permission.service.ts
Labels: api, Access Control, rbac

#2210 chore(api) : search the rover group list
  packages/api/src/server/sot/rover/rover.controller.ts
  packages/api/src/server/sot/rover/service/rover.factory.ts
  packages/api/src/server/sot/rover/service/rover.service.ts
Labels: api, Access Control, rbac, activity stream

#2212 feat(api) : envs details added in the all property api
  packages/api/src/server/property/service/property.service.ts
Labels: enhancement, api

#2218 feat(api) : SSR support added for SPAship
  packages/api/src/repository/mongo/model/application.model.ts
  packages/api/src/repository/mongo/model/auth-action-lookup.model.ts
  packages/api/src/server/application/application.controller.ts
  packages/api/src/server/application/application.dto.ts
  packages/api/src/server/application/application.entity.ts
  packages/api/src/server/application/service/application.factory.ts
  packages/api/src/server/application/service/application.service.ts
  packages/api/src/server/event/service/event.service.ts
Labels: enhancement, api, chore, SSR (Server Side Rendering), database

#2220 chore(api) : code formatted & quarries added
  packages/api/src/server/application/application.controller.ts
  packages/api/src/server/property/service/property.service.ts
  packages/api/src/server/role/service/role.service.ts
  packages/api/src/server/sot/rover/rover.controller.ts
  packages/api/src/server/sot/rover/service/rover.factory.ts
  packages/api/src/server/sot/rover/service/rover.service.ts
Labels: api, chore, Access Control, rbac

#2214 fix(Manager): Link to web property page
  packages/manager/src/views/DashboardPage/components/Analytics/Analytics.tsx
Labels: manager

#2215 feat(manager) : Added domains for each property on Web Property List Page
  packages/manager/src/services/webProperty/types.ts
  packages/manager/src/views/WebPropertyListPage/WebPropertyListPage.tsx
  packages/manager/src/views/WebPropertyListPage/components/WebPropertyCard/WebPropertyCard.tsx
Labels: manager

#2224 feat(api) : SSR Config service and version update
  packages/api/src/repository/mongo/model/application.model.ts
  packages/api/src/server/application/application.dto.ts
  packages/api/src/server/application/application.entity.ts
  packages/api/src/server/application/service/application.factory.ts
  packages/api/src/server/application/service/application.service.ts
Labels: api, chore, SSR (Server Side Rendering)

#2225 feat(api) : activity stream added for the SSR Deployment
  packages/api/src/repository/mongo/model/application.model.ts
  packages/api/src/server/analytics/activity-stream.entity.ts
  packages/api/src/server/application/application.entity.ts
  packages/api/src/server/application/service/application.factory.ts
  packages/api/src/server/application/service/application.service.ts
Labels: enhancement, api, activity stream, SSR (Server Side Rendering)

#2226 feat(api) : Image Registry URL validation for SSR added
  packages/api/src/configuration/index.ts
  packages/api/src/server/application/application.controller.ts
  packages/api/src/server/application/application.dto.ts
  packages/api/src/server/application/service/application.factory.ts
  packages/api/src/server/application/service/application.service.ts
Labels: enhancement, api, chore, SSR (Server Side Rendering)

#2228 chore(api) : ssr imageurl validations refactored
  packages/api/src/configuration/index.ts
  packages/api/src/server/application/service/application.service.ts
Labels: api, chore, SSR (Server Side Rendering)

#2230 fix(api) : validations for config resolved
  packages/api/.eslintrc.json
  packages/api/src/server/application/application.controller.ts
  packages/api/src/server/application/service/application.factory.ts
  packages/api/src/server/application/service/application.service.ts
Labels: api, chore, SSR (Server Side Rendering)

#2217 feat(manager) : RBAC and SLA Page
  packages/manager/package-lock.json
  packages/manager/package.json
  packages/manager/src/components/ActivityStream/ActivityStream.tsx
  packages/manager/src/layouts/AppLayout/components/SideBar/SideBar.tsx
  packages/manager/src/links.ts
  packages/manager/src/pages/sla.tsx
  packages/manager/src/services/rbac/index.tsx
  packages/manager/src/services/rbac/queries.tsx
  packages/manager/src/services/rbac/types.ts
  packages/manager/src/styles/globals.css
  packages/manager/src/utils/toPascalConvert.ts
  packages/manager/src/views/SLA/SLAPage.tsx
  packages/manager/src/views/SLA/index.tsx
  packages/manager/src/views/WebPropertyDetailPage/WebPropertyDetailPage.tsx
  packages/manager/src/views/WebPropertyEnvPage/WebPropertyEnvPage.tsx
  packages/manager/src/views/WebPropertyEnvPage/components/AddMembers/AddMembers.tsx
  packages/manager/src/views/WebPropertyEnvPage/components/AddMembers/index.tsx
  packages/manager/src/views/WebPropertyEnvPage/components/AddMembers/types.ts
  packages/manager/src/views/WebPropertyEnvPage/components/ConfigureAccess/ConfigureAccess.tsx
  packages/manager/src/views/WebPropertyEnvPage/components/ConfigureAccess/index.tsx
  packages/manager/src/views/WebPropertyEnvPage/components/ConfigureAccess/types.ts
  packages/manager/src/views/WebPropertyEnvPage/components/EditAccess/EditMemberAccess.tsx
  packages/manager/src/views/WebPropertyEnvPage/components/EditAccess/index.tsx
  packages/manager/src/views/WebPropertyEnvPage/components/SyncServiceForm/SyncServiceForm.tsx
  packages/manager/src/views/WebPropertyListPage/WebPropertyListPage.tsx
Labels: manager, Access Control, rbac

#2231 fix(api) : health check path issue resolved
  packages/api/src/configuration/index.ts
  packages/api/src/server/application/application.dto.ts
  packages/api/src/server/application/service/application.factory.ts
  packages/api/src/server/application/service/application.service.ts
Labels: bug, api, SSR (Server Side Rendering)
