Repository spaship/spaship, pull requests merged in 2023-03, with the labels that each got.

#2234 fix(api) : update ssr attribute issue resolved
  packages/api/src/server/application/service/application.service.ts
Labels: bug, api, SSR (Server Side Rendering)

#2236 feat(api) : default access url added for the SSR and message changed
  packages/api/src/configuration/index.ts
  packages/api/src/server/application/application.dto.ts
  packages/api/src/server/application/service/application.factory.ts
  packages/api/src/server/application/service/application.service.ts
Labels: enhancement, api

#2238 fix(api) : error message changed for image url
  packages/api/src/configuration/index.ts
Labels: api, SSR (Server Side Rendering)

#2240 fix(api) : Config updating while deployment
  packages/api/src/server/application/service/application.service.ts
Labels: api, SSR (Server Side Rendering)

#2233 fix(manager): domain Links added
  packages/manager/src/layouts/AppLayout/components/SideBar/SideBar.tsx
  packages/manager/src/links.ts
  packages/manager/src/pages/documents.tsx
  packages/manager/src/views/DashboardPage/components/Analytics/Analytics.tsx
  packages/manager/src/views/WebPropertyListPage/WebPropertyListPage.tsx
  packages/manager/src/views/WebPropertyListPage/components/WebPropertyCard/WebPropertyCard.tsx
Labels: manager

#2249 feat(manager) : Fixed SSR Bugs
  packages/manager/package-lock.json
  packages/manager/package.json
  packages/manager/src/services/ssr/types.ts
  packages/manager/src/styles/globals.css
  packages/manager/src/views/SPAPropertyDetailPage/SPAPropertyDetailPage.tsx
  packages/manager/src/views/WebPropertyDetailPage/WebPropertyDetailPage.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/ConfigureSSRForm.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/SSRDetails.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/SsrForm.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/StaticDeployment.tsx
  packages/manager/src/views/WebPropertyEnvPage/components/AddMembers/AddMembers.tsx
Labels: manager

#2252 fix(api) : invalid name issue resolved for //
  packages/api/src/server/application/application.controller.ts
Labels: api

#2254 feat(manager): Setting ellipsis length to 25 for internal access URL
  packages/manager/src/views/WebPropertyDetailPage/WebPropertyDetailPage.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/SSRDetails.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/StaticDeployment.tsx
Labels: manager

#2255 feat(manager): Making HeathCheck path to prepopulate on path value initially and fixing webproperty spacing
  packages/manager/package-lock.json
  packages/manager/package.json
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/SsrForm.tsx
  packages/manager/src/views/WebPropertyListPage/components/WebPropertyCard/WebPropertyCard.tsx
Labels: manager

#2259 feat(manager): Fixed textbox length, changed the tooltip msgs and button text
  packages/manager/src/views/DocumentsPage/DocumentsPage.tsx
  packages/manager/src/views/WebPropertyDetailPage/WebPropertyDetailPage.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/ConfigureSSRForm.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/SSRDetails.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/SsrForm.tsx
Labels: SSR (Server Side Rendering)

#2261 feat(cli) : Containerized Deployment support
  packages/cli/README.md
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/deploy.js
  packages/cli/src/services/deployService.js
Labels: cli, chore, SSR (Server Side Rendering)

#2264 feat(api) : Port added into SSR service
  packages/api/src/configuration/index.ts
  packages/api/src/repository/mongo/model/application.model.ts
  packages/api/src/server/application/application.dto.ts
  packages/api/src/server/application/application.entity.ts
  packages/api/src/server/application/service/application.factory.ts
  packages/api/src/server/application/service/application.service.ts
Labels: enhancement, api, SSR (Server Side Rendering)

#2265 feat(api) : documentation services added [internal apis]
  packages/api/src/app.module.ts
  packages/api/src/repository/data-services.abstract.ts
  packages/api/src/repository/mongo/model/documentation.model.ts
  packages/api/src/repository/mongo/model/index.ts
  packages/api/src/repository/mongo/mongo-data-services.module.ts
  packages/api/src/repository/mongo/mongo-data-services.service.ts
  packages/api/src/server/auth/auth.guard.ts
  packages/api/src/server/document/documentation.controller.ts
  packages/api/src/server/document/documentation.dto.ts
  packages/api/src/server/document/documentation.entity.ts
  packages/api/src/server/document/service/documentation.factory.ts
  packages/api/src/server/document/service/documentation.module.ts
  packages/api/src/server/document/service/documentation.service.ts
Labels: documentation, enhancement, api

#2263 feat(manager): Pagination Added to API Key Section in SPAship
  packages/manager/src/views/WebPropertyEnvPage/WebPropertyEnvPage.tsx
Labels: manager

#2266 feat(api) : warning message added for the deployment
  packages/api/src/server/application/application.dto.ts
  packages/api/src/server/application/service/application.factory.ts
  packages/api/src/server/application/service/application.service.ts
Labels: cli, api, SSR (Server Side Rendering)

#2267 feat(manager): Fixing JWT token, UX improvements
  packages/manager/src/config/orchestratorReq.ts
  packages/manager/src/views/AddWebPropertyPage/AddWebProperty.utils.ts
  packages/manager/src/views/AddWebPropertyPage/AddWebPropertyPage.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/ConfigureSSRForm.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/SSRDetails.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/SsrForm.tsx
Labels: manager

#2271 fix(api) : build fix for api
  packages/api/src/repository/mongo/model/index.ts
Labels: api

#2286 fix(api) : ssr indentifier issue resolved
  packages/api/src/server/application/service/application.factory.ts
  packages/api/src/server/application/service/application.service.ts
Labels: bug, api, SSR (Server Side Rendering)
