Repository spaship/spaship, pull requests merged in 2023-12, with the labels that each got.

#2510 version(api) : version upgraded for the patch
  packages/api/package-lock.json
  packages/api/package.json
Labels: api, version

#2519 feat(Manager): Adding tab headers, fixing console lint , fixing build log message for SSR deployment
  packages/manager/src/pages/_app.tsx
  packages/manager/src/views/DashboardPage/DashboardPage.tsx
  packages/manager/src/views/DocumentsPage/DocumentsPage.tsx
  packages/manager/src/views/HomePage/HomePage.tsx
  packages/manager/src/views/SLA/SLAPage.tsx
  packages/manager/src/views/Settings/components/ApiKey/CreateAPIKeyForm/CreateAPIKeyForm.tsx
  packages/manager/src/views/Settings/components/Environment/SyncServiceForm/SyncServiceForm.tsx
  packages/manager/src/views/WebPropertyDetailPage/WebPropertyDetailPage.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/Ephemeral/Ephemeral.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/StaticDeployment.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/ViewLogs.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/workflow3.0/ConfigureWorkflowForm.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/workflow3.0/workflow3.tsx
  packages/manager/src/views/WebPropertyListPage/WebPropertyListPage.tsx
Labels: bug, manager

#2521 chore(api) : change date frame for the the monthly analytics
  packages/api/src/server/analytics/service/analytics.service.ts
Labels: api, chore, analytics

#2526 chore(api) : activity stream added for lighthouse stream
  packages/api/src/server/analytics/entity.ts
  packages/api/src/server/lighthouse/controller.ts
  packages/api/src/server/lighthouse/service/factory.ts
  packages/api/src/server/lighthouse/service/index.ts
  packages/api/src/server/lighthouse/service/module.ts
Labels: api, chore, lighthouse

#2525 feat(Manager) : Fixing dev instance breaking and Adding Pagination in static section
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/ContainerizedDeployment.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/StaticDeployment.tsx
  packages/manager/src/views/WebPropertyListPage/WebPropertyListPage.tsx
Labels: bug, manager

#2528 chore(api) : build lighthouse metrics with the required values
  packages/api/src/server/lighthouse/dto.ts
  packages/api/src/server/lighthouse/service/factory.ts
Labels: api, chore, lighthouse

#2531 fix(api) : http status codes allowed for access url
  packages/api/src/server/application/service/factory.ts
Labels: bug, api, deployment
