Repository spaship/spaship, pull requests merged in 2023-09, with the labels that each got.

#2453 feat(api) : router url configured for containerized deployments
  packages/api/src/server/application/service/application.factory.ts
  packages/api/src/server/application/service/application.service.ts
Labels: enhancement, api, deployment

#2457 feat(api) : api added to get env list by git repo
  packages/api/src/configuration/index.ts
  packages/api/src/server/auth/auth.guard.ts
  packages/api/src/server/environment/environment.controller.ts
  packages/api/src/server/environment/service/environment.service.ts
Labels: enhancement, api, chore

#2458 feat(Manager): Adding router URL to containerized deployment section
  packages/manager/Dockerfile
  packages/manager/src/config/env.ts
  packages/manager/src/layouts/AppLayout/components/SideBar/SideBar.tsx
  packages/manager/src/views/WebPropertyDetailPage/WebPropertyDetailPage.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/ContainerizedDeployment.tsx
Labels: manager, chore, Design revamp

#2459 chore(ci) : new build args added for spaship manager
  .github/workflows/manager-ci.yaml
Labels: manager, chore

#2466 feat(manager) : big fixes for manager revamp phase 3
  packages/manager/src/components/Banner/Banner.tsx
  packages/manager/src/components/Radio/radio.module.css
  packages/manager/src/layouts/AppLayout/AppLayout.tsx
  packages/manager/src/layouts/AppLayout/components/Nav/Nav.tsx
  packages/manager/src/layouts/AppLayout/components/SideBar/SideBar.tsx
  packages/manager/src/styles/globals.css
  packages/manager/src/views/HomePage/HomePage.tsx
  packages/manager/src/views/StayTunedPage/StayTunedPage.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/ContainerizedDeployment.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/ViewLogs.tsx
Labels: bug, manager, Design revamp
