Repository spaship/spaship, pull requests merged in 2023-10, with the labels that each got.

#2471 fix(api) : changes in the message for ephemeral preview
  packages/api/src/server/application/service/application.service.ts
Labels: api, deployment, ephemeral

#2474 chore(api): ephemeral service refactored into function
  packages/api/src/server/application/service/application.service.ts
Labels: api, chore, deployment, ephemeral

#2475 feat(Manager): fixing redirection for SSR 2.0 spa name click
  packages/manager/src/views/Settings/components/Environment/Environment.tsx
  packages/manager/src/views/WebPropertyDetailPage/WebPropertyDetailPage.tsx
Labels: bug, manager

#2476 fix(api) : config and secret issue in fisrt deployment resolved
  packages/api/src/server/application/service/application.factory.ts
  packages/api/src/server/application/service/application.service.ts
Labels: bug, api, chore, workflow 3.0, deployment

#2480 feat(Manager): Fixing bugs in Logs and Sidebar section
  packages/manager/public/img/github.svg
  packages/manager/public/img/report-bug.svg
  packages/manager/public/img/user-guide-icon.svg
  packages/manager/src/layouts/AppLayout/AppLayout.tsx
  packages/manager/src/layouts/AppLayout/components/SideBar/SideBar.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/ContainerizedDeployment.tsx
Labels: bug, manager, Hacktoberfest, hacktoberfest-accepted

#2481 feat(Manager): Modifying configure secrets form in configure App
  packages/manager/src/layouts/AppLayout/AppLayout.tsx
  packages/manager/src/layouts/AppLayout/components/SideBar/SideBar.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/workflow3.0/ConfigureWorkflowForm.tsx
Labels: bug, manager, Hacktoberfest, hacktoberfest-accepted, workflow 3.0

#2483 feat(Manager): Adding create symlink support from manager
  packages/manager/src/services/persistent/index.tsx
  packages/manager/src/services/persistent/queries.tsx
  packages/manager/src/services/persistent/types.ts
  packages/manager/src/views/Settings/Settings.tsx
  packages/manager/src/views/Settings/components/Symlink/CreateSymlink/CreateSymlink.tsx
  packages/manager/src/views/Settings/components/Symlink/CreateSymlink/index.tsx
  packages/manager/src/views/Settings/components/Symlink/Symlink.tsx
  packages/manager/src/views/Settings/components/Symlink/index.tsx
Labels: enhancement, manager, Hacktoberfest, hacktoberfest-accepted

#2485 feat(Manager): Fixing validation bug in create symlink form
  packages/manager/src/views/Settings/components/Symlink/CreateSymlink/CreateSymlink.tsx
  packages/manager/src/views/Settings/components/Symlink/Symlink.tsx
Labels: bug, manager, Hacktoberfest, hacktoberfest-accepted

#2482 feat(api) : symlink service added into orchestrator
  packages/api/src/configuration/index.ts
  packages/api/src/repository/mongo/model/environment.model.ts
  packages/api/src/server/environment/environment.controller.ts
  packages/api/src/server/environment/environment.dto.ts
  packages/api/src/server/environment/environment.entity.ts
  packages/api/src/server/environment/service/environment.factory.ts
  packages/api/src/server/environment/service/environment.service.ts
Labels: enhancement, api, chore, Hacktoberfest, hacktoberfest-accepted, symlink

#2486 feat(Manager) :Fixing bugs in sidebar revamp dropdown and secrets section in form
  packages/manager/src/components/Banner/Banner.tsx
  packages/manager/src/layouts/AppLayout/components/Nav/Nav.tsx
  packages/manager/src/layouts/AppLayout/components/SideBar/SideBar.tsx
  packages/manager/src/styles/globals.css
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/ViewLogs.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/workflow3.0/ConfigureWorkflowForm.tsx
Labels: bug, manager, workflow 3.0

#2488 feat(Manager): adding support for multiple symlinks and fixing textbox length
  packages/manager/src/services/persistent/types.ts
  packages/manager/src/views/Settings/components/Symlink/CreateSymlink/CreateSymlink.tsx
  packages/manager/src/views/Settings/components/Symlink/Symlink.tsx
Labels: bug, manager, Hacktoberfest, hacktoberfest-accepted

#2489 Feat(manager): Fixing no property found for user and CSS for select dropdown
  packages/manager/src/layouts/AppLayout/components/SideBar/SideBar.tsx
  packages/manager/src/styles/globals.css
Labels: manager, Hacktoberfest, hacktoberfest-accepted

#2490 feat(Manager): Fixing textcenter of header in Symlink table
  packages/manager/src/views/Settings/components/Symlink/Symlink.tsx
Labels: manager

#2493 chore(api) : symlink status created added in the activity stream
  packages/api/src/server/analytics/activity-stream.entity.ts
  packages/api/src/server/environment/environment.dto.ts
  packages/api/src/server/environment/service/environment.service.ts
Labels: api, Hacktoberfest, hacktoberfest-accepted, activity stream, symlink

#2496 feat(Manager): Removing helper text from source and target fields in symlink
  packages/manager/src/views/Settings/components/Symlink/CreateSymlink/CreateSymlink.tsx
Labels: manager, chore

#2497 fix(api) : containerized deployment config update issue resolved
  packages/api/src/server/application/application.dto.ts
  packages/api/src/server/application/service/application.factory.ts
  packages/api/src/server/application/service/application.service.ts
Labels: bug, api, chore, Hacktoberfest, hacktoberfest-accepted, workflow 3.0, deployment

#2503 chore(api) : SSR application realtime deployment update issue resolved & store application status
  packages/api/src/server/analytics/activity-stream.entity.ts
  packages/api/src/server/application/service/application.service.ts
Labels: bug, api, activity stream, SSR (Server Side Rendering), deployment

#2504 feat(Manager): Adding application available and unavailable in activity stream
  packages/manager/src/components/ActivityStream/ActivityStream.tsx
Labels: manager, activity stream
