Repository spaship/spaship, pull requests merged in 2023-08, with the labels that each got.

#2409 feat(api) : CMDB code support added with sync and multi cluster deployment
  packages/api/src/app.module.ts
  packages/api/src/configuration/index.ts
  packages/api/src/repository/mongo/model/application.model.ts
  packages/api/src/repository/mongo/model/property.model.ts
  packages/api/src/server/application/application.controller.ts
  packages/api/src/server/application/application.dto.ts
  packages/api/src/server/application/application.entity.ts
  packages/api/src/server/application/service/application.factory.ts
  packages/api/src/server/application/service/application.service.ts
  packages/api/src/server/environment/service/environment.factory.ts
  packages/api/src/server/environment/service/environment.service.ts
  packages/api/src/server/event/service/event.service.ts
  packages/api/src/server/property/property.dto.ts
  packages/api/src/server/property/property.entity.ts
  packages/api/src/server/property/service/property.factory.ts
  packages/api/src/server/sot/cmdb/cmdb.controller.ts
  packages/api/src/server/sot/cmdb/cmdb.response.dto.ts
  packages/api/src/server/sot/cmdb/service/cmdb.factory.ts
  packages/api/src/server/sot/cmdb/service/cmdb.module.ts
  packages/api/src/server/sot/cmdb/service/cmdb.service.ts
Labels: enhancement, api, chore, deployment, sync, cmdb

#2413 feat(api) : update property and env details for CMDB
  packages/api/src/configuration/index.ts
  packages/api/src/server/analytics/service/analytics.service.ts
  packages/api/src/server/environment/environment.controller.ts
  packages/api/src/server/environment/service/environment.service.ts
  packages/api/src/server/property/property.controller.ts
  packages/api/src/server/property/service/property.factory.ts
  packages/api/src/server/property/service/property.service.ts
Labels: api, Integration, deployment, cmdb

#2416 feat(api) : changes in developer metrics payload and envs
  packages/api/src/configuration/index.ts
  packages/api/src/server/analytics/service/analytics.service.ts
Labels: enhancement, api, analytics

#2417 feat(Manager) : Developer Metrics Dashboard
  packages/manager/src/links.ts
  packages/manager/src/pages/developerMetrics.tsx
  packages/manager/src/services/analytics/index.tsx
  packages/manager/src/services/analytics/queries.tsx
  packages/manager/src/services/analytics/types.ts
  packages/manager/src/services/developerDashboard/index.ts
  packages/manager/src/services/developerDashboard/queries.tsx
  packages/manager/src/services/developerDashboard/types.ts
  packages/manager/src/views/DashboardPage/DashboardPage.tsx
  packages/manager/src/views/DeveloperMetricsDashboard/DeveloperMetricsDashboard.tsx
  packages/manager/src/views/DeveloperMetricsDashboard/index.tsx
  packages/manager/src/views/WebPropertyDetailPage/WebPropertyDetailPage.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/Ephemeral/Ephemeral.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/SSRDetails.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/StaticDeployment.tsx
Labels: manager, Dashboard

#2418 chore(api): cmdb code added into operator request
  packages/api/src/server/application/application.dto.ts
  packages/api/src/server/application/service/application.factory.ts
  packages/api/src/server/application/service/application.service.ts
  packages/api/src/server/property/property.dto.ts
Labels: api, chore, deployment, cmdb

#2420 feat(api) : autoSync service added for the applications
  packages/api/src/repository/mongo/model/application.model.ts
  packages/api/src/server/application/application.controller.ts
  packages/api/src/server/application/application.dto.ts
  packages/api/src/server/application/application.entity.ts
  packages/api/src/server/application/service/application.factory.ts
  packages/api/src/server/application/service/application.service.ts
Labels: enhancement, api, chore, deployment, sync

#2419 feat(manager): SPAship dashboard revamp with the new design
  packages/manager/public/img/avg-time-deploy.svg
  packages/manager/public/img/hours_saved.svg
  packages/manager/public/img/login-mail.svg
  packages/manager/public/img/login.svg
  packages/manager/public/img/logo-github.svg
  packages/manager/public/img/number-of-deployments.svg
  packages/manager/public/img/slack-logo.svg
  packages/manager/src/components/ActivityStream/ActivityStream.tsx
  packages/manager/src/components/Banner/Banner.tsx
  packages/manager/src/services/analytics/queries.tsx
  packages/manager/src/styles/globals.css
  packages/manager/src/views/DashboardPage/DashboardPage.tsx
  packages/manager/src/views/DashboardPage/components/ActivityStreamDashboard/ActivityStreamDashboard.tsx
  packages/manager/src/views/DashboardPage/components/Analytics/Analytics.tsx
  packages/manager/src/views/DashboardPage/components/DashboardChart/DashboardChart.tsx
  packages/manager/src/views/DashboardPage/components/DashboardChart/index.tsx
  packages/manager/src/views/DeveloperMetricsDashboard/DeveloperMetricsDashboard.tsx
  packages/manager/src/views/LoginPage/components/Nav/Nav.tsx
  packages/manager/src/views/SPAPropertyDetailPage/SPAPropertyDetailPage.tsx
  packages/manager/src/views/WebPropertyDetailPage/WebPropertyDetailPage.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/Dashboard/Dashboard.tsx
Labels: manager, Design revamp

#2421 feat(api) : application deletion service added
  packages/api/src/server/application/application.controller.ts
  packages/api/src/server/application/application.dto.ts
  packages/api/src/server/application/service/application.factory.ts
  packages/api/src/server/application/service/application.service.ts
Labels: enhancement, api, deployment

#2422 feat(api) : deployment hour saved api added for the login screen
  packages/api/src/configuration/index.ts
  packages/api/src/server/analytics/analytics.controller.ts
  packages/api/src/server/auth/auth.guard.ts
Labels: enhancement, api, analytics

#2423 chore(api) : cmdb code validation & default code process, eph env duration limit
  packages/api/src/configuration/index.ts
  packages/api/src/server/agenda/agenda.module.ts
  packages/api/src/server/application/application.controller.ts
  packages/api/src/server/application/application.dto.ts
  packages/api/src/server/application/service/application.factory.ts
  packages/api/src/server/application/service/application.module.ts
  packages/api/src/server/environment/service/environment.module.ts
  packages/api/src/server/property/service/property.module.ts
  packages/api/src/server/property/service/property.service.ts
Labels: api, chore, deployment, ephemeral, cmdb

#2425 chore(api) : cmdb & sevirity added in the response
  packages/api/src/server/property/property.response.dto.ts
  packages/api/src/server/property/service/property.service.ts
Labels: api, deployment

#2427 feat(manager): Adding CMDB details in Add property page and Logs Page
  packages/manager/src/services/appLogs/queries.tsx
  packages/manager/src/services/spaProperty/queries.tsx
  packages/manager/src/services/webProperty/index.tsx
  packages/manager/src/services/webProperty/queries.tsx
  packages/manager/src/services/webProperty/types.ts
  packages/manager/src/views/AddWebPropertyPage/AddWebPropertyPage.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/SSRDetails.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/ViewLogs.tsx
  packages/manager/src/views/WebPropertyEnvPage/WebPropertyEnvPage.tsx
  packages/manager/src/views/WebPropertyEnvPage/components/SyncServiceForm/SyncServiceForm.tsx
  packages/manager/src/views/WebPropertyListPage/WebPropertyListPage.tsx
Labels: manager, cmdb

#2426 chore(api) : response change in login screen api
  packages/api/src/server/analytics/service/analytics.module.ts
  packages/api/src/server/analytics/service/analytics.service.ts
  packages/api/src/server/event/service/event.module.ts
  packages/api/src/server/property/service/property.service.ts
Labels: api, chore, analytics

#2428 feat(api) : developer dashboard api refactored for the user mode
  packages/api/src/server/analytics/analytics.controller.ts
  packages/api/src/server/analytics/service/analytics.service.ts
  packages/api/src/server/property/service/property.service.ts
Labels: enhancement, api, chore, analytics, Dashboard

#2431 feat(Manager): Changing chart fields, and cost to hours saved tile
  packages/manager/package-lock.json
  packages/manager/package.json
  packages/manager/src/services/analytics/index.tsx
  packages/manager/src/services/analytics/queries.tsx
  packages/manager/src/services/analytics/types.ts
  packages/manager/src/views/DeveloperDashboard/DeveloperMetricsAdminDashboard/DeveloperMetricsAdminDashboard.tsx
  packages/manager/src/views/DeveloperDashboard/DeveloperMetricsDashboard/DeveloperMetricsDashboard.tsx
Labels: manager, Dashboard

#2434 fix(api) : changes in the api for login screen
  packages/api/src/server/analytics/service/analytics.service.ts
Labels: api, analytics

#2435 chore(api) : route url provision added for the static deployment
  packages/api/src/repository/mongo/model/application.model.ts
  packages/api/src/server/application/application.entity.ts
  packages/api/src/server/application/service/application.factory.ts
  packages/api/src/server/application/service/application.service.ts
Labels: api, chore, deployment

#2436 feat(Manager): AutoSync Enabled, Login Slack opening in new tab and Eph time correction
  packages/manager/src/services/analytics/queries.tsx
  packages/manager/src/services/ephemeral/types.ts
  packages/manager/src/services/spaProperty/types.ts
  packages/manager/src/services/ssr/queries.tsx
  packages/manager/src/services/ssr/types.ts
  packages/manager/src/services/sync/index.tsx
  packages/manager/src/services/sync/queries.tsx
  packages/manager/src/services/sync/types.ts
  packages/manager/src/views/DashboardPage/components/Analytics/Analytics.tsx
  packages/manager/src/views/DashboardPage/components/DashboardChart/DashboardChart.tsx
  packages/manager/src/views/LoginPage/components/Nav/Nav.tsx
  packages/manager/src/views/WebPropertyDetailPage/WebPropertyDetailPage.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/Dashboard/Dashboard.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/Ephemeral/Ephemeral.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/Access.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/SSRDetails.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/StaticDeployment.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/workflow3.0/types.tsx
  packages/manager/src/views/WebPropertyEnvPage/WebPropertyEnvPage.tsx
Labels: manager, activity stream, ephemeral, Dashboard

#2437 feat(Manager):Adding router URL in static deployment page and making cmdb field required
  packages/manager/src/services/spaProperty/types.ts
  packages/manager/src/views/AddWebPropertyPage/AddWebPropertyPage.tsx
  packages/manager/src/views/WebPropertyDetailPage/WebPropertyDetailPage.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/StaticDeployment.tsx
Labels: manager, cmdb

#2441 feat(manager): Making View Logs resizable | Making CMDB field required
  packages/manager/src/components/Banner/Banner.tsx
  packages/manager/src/styles/globals.css
  packages/manager/src/views/WebPropertyDetailPage/components/Ephemeral/Ephemeral.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/ApplicationStatus.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/SSRDetails.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/StaticDeployment.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/ViewLogs.tsx
Labels: manager, workflow 3.0, cmdb

#2445 feat(Manager): Adding router url in Ephemeral view
  packages/manager/src/services/ephemeral/types.ts
  packages/manager/src/views/WebPropertyDetailPage/components/Ephemeral/Ephemeral.tsx
Labels: manager, cmdb

#2449 feat(spaship) : manager, api & CLI changes added for 23.08.0 release
  packages/api/package-lock.json
  packages/api/package.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/deploy.js
  packages/manager/package-lock.json
  packages/manager/package.json
  packages/manager/src/services/ephemeral/types.ts
  packages/manager/src/styles/globals.css
  packages/manager/src/views/WebPropertyDetailPage/components/Ephemeral/Ephemeral.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/SSRDetails.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/StaticDeployment.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/ViewLogs.tsx
Labels: cli, api, manager, deployment, version

#2450 feat(manager) : Adding google form link in feedback section
  packages/manager/src/layouts/AppLayout/components/SideBar/SideBar.tsx
Labels: manager
