Repository spaship/spaship, pull requests merged in 2023-07, with the labels that each got.

#2385 feat(manager) : never expire key, pod logs and automatic refresh of logs
  packages/manager/src/services/appLogs/index.tsx
  packages/manager/src/services/appLogs/queries.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/SSRDetails.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/ViewLogs.tsx
  packages/manager/src/views/WebPropertyEnvPage/WebPropertyEnvPage.tsx
  packages/manager/src/views/WebPropertyEnvPage/components/CreateAPIKeyForm/CreateAPIKeyForm.tsx
Labels: manager, chore, apikey

#2386 feat(Manager): fixing build issue
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/ViewLogs.tsx
Labels: manager

#2389 feat(Manager): Masking secrets in review section of form and handling NA in never expire key
  packages/manager/.eslintrc.js
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/ViewLogs.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/workflow3.0/ConfigureWorkflowForm.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/workflow3.0/workflow3.tsx
  packages/manager/src/views/WebPropertyEnvPage/WebPropertyEnvPage.tsx
  packages/manager/src/views/WebPropertyEnvPage/components/CreateAPIKeyForm/CreateAPIKeyForm.tsx
Labels: manager, chore

#2392 fix(api) : secretMap in payload issue resolved
  packages/api/src/server/application/service/application.factory.ts
  packages/api/src/server/application/service/application.service.ts
Labels: bug, api

#2391 feat(Manager) : Automatic refresh and POD Logs in SPA property details page
  packages/manager/src/services/appLogs/queries.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/SSRDetails.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/ViewLogs.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/workflow3.0/ConfigureWorkflowForm.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/workflow3.0/workflow3.tsx
Labels: manager, chore

#2393 feat(Manager): Aligning the checkbox and creation a secret section the containerized form
  packages/manager/src/views/WebPropertyDetailPage/components/workflow3.0/ConfigureWorkflowForm.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/workflow3.0/workflow3.tsx
Labels: manager, chore

#2397 feat(Manager): fixing secret while configuring and soumya email change in SLA Page
  packages/manager/src/views/SLA/SLAPage.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/workflow3.0/ConfigureWorkflowForm.tsx
Labels: manager, chore

#2399 chore(api) : config change & version upgrade to 3.4.0
  packages/api/package-lock.json
  packages/api/package.json
  packages/api/src/server/application/service/application.service.ts
Labels: api, chore, version

#2401 chrore(manager) : fix no logs error for workflow 3.0 & version upgrade
  packages/manager/package-lock.json
  packages/manager/package.json
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/SSRDetails.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/ViewLogs.tsx
Labels: bug, enhancement, manager, workflow 3.0

#2403 feat(Manager): Fixing no build logs for wf2.0
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/ViewLogs.tsx
Labels: manager

#2410 DEE-204 - Added configurations to include SPAship components to the Backstage catalog
  catalog-info.yml
  catalog/systems/SPAship.yml
  packages/api/catalog-info.yml
  packages/cli/catalog-info.yml
  packages/manager/catalog-info.yml
Labels: chore
