Repository spaship/spaship, pull requests merged in 2024-01, with the labels that each got.

#2535 feat(api) : post deployment lighthouse auto report generation
  packages/api/src/repository/mongo/model/application.ts
  packages/api/src/server/agenda/service/module.ts
  packages/api/src/server/analytics/entity.ts
  packages/api/src/server/application/entity.ts
  packages/api/src/server/application/service/index.ts
  packages/api/src/server/application/service/module.ts
  packages/api/src/server/environment/service/module.ts
  packages/api/src/server/event/service/index.ts
  packages/api/src/server/event/service/module.ts
  packages/api/src/server/lighthouse/controller.ts
  packages/api/src/server/lighthouse/dto.ts
  packages/api/src/server/lighthouse/service/factory.ts
  packages/api/src/server/lighthouse/service/index.ts
  packages/api/src/server/lighthouse/service/module.ts
  packages/api/src/server/property/service/module.ts
Labels: enhancement, api, chore, lighthouse

#2536 fix(manager) : fixed grammatical error in EmptyStateBody
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/ContainerizedDeployment.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/StaticDeployment.tsx
Labels: manager

#2546 fix(api) : get single response for the lighthouse report
  packages/api/src/server/lighthouse/service/factory.ts
  packages/api/src/server/lighthouse/service/index.ts
Labels: api, chore, lighthouse

#2547 feat(Manager) : Integrating Lighthouse | revamping web properties and spa properties page
  packages/manager/public/img/dashboard-icon-dark.svg
  packages/manager/public/img/lighthouse-logo.svg
  packages/manager/src/config/env.ts
  packages/manager/src/services/lighthouse/index.tsx
  packages/manager/src/services/lighthouse/queries.tsx
  packages/manager/src/services/lighthouse/types.tsx
  packages/manager/src/styles/globals.css
  packages/manager/src/views/SPAPropertyDetailPage/ContainerizedSPADeployment/ContainerizedSPADeployment.css
  packages/manager/src/views/SPAPropertyDetailPage/ContainerizedSPADeployment/ContainerizedSPADeployment.tsx
  packages/manager/src/views/SPAPropertyDetailPage/ContainerizedSPADeployment/index.tsx
  packages/manager/src/views/SPAPropertyDetailPage/Lighthouse/Lighthouse.tsx
  packages/manager/src/views/SPAPropertyDetailPage/SPAPropertyDetailPage.tsx
  packages/manager/src/views/SPAPropertyDetailPage/StaticSPADeployment.tsx/StaticSPADeployment.tsx
  packages/manager/src/views/WebPropertyDetailPage/WebPropertyDetailPage.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/Applications/ApplicationDetailsSection.css
  packages/manager/src/views/WebPropertyDetailPage/components/Applications/ApplicationDetailsSection.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/Applications/ApplicationsListPage.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/Applications/index.tsx
Labels: enhancement, manager, lighthouse

#2548 feat(Manager) : Fixing client side exception due to router URL and access URL not available
  packages/manager/src/views/SPAPropertyDetailPage/ContainerizedSPADeployment/ContainerizedSPADeployment.tsx
  packages/manager/src/views/SPAPropertyDetailPage/StaticSPADeployment.tsx/StaticSPADeployment.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/ApplicationStatus.tsx
Labels: manager, lighthouse

#2549 feat(manager) : generate new lighthouse report for existing spa
  packages/manager/src/views/SPAPropertyDetailPage/Lighthouse/Lighthouse.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/Applications/ApplicationsListPage.tsx
Labels: manager, lighthouse

#2550 fix(api) : route url unavailabe issue resolved
  packages/api/src/server/application/service/factory.ts
Labels: bug, api, chore

#2551 feat(Manager): Fixed issue of first of data for SPA detailed and lighthouse page | Application status bug resolved
  packages/manager/src/services/lighthouse/queries.tsx
  packages/manager/src/services/spaProperty/queries.tsx
  packages/manager/src/views/SPAPropertyDetailPage/ContainerizedSPADeployment/ContainerizedSPADeployment.tsx
  packages/manager/src/views/SPAPropertyDetailPage/StaticSPADeployment.tsx/StaticSPADeployment.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/ApplicationStatus.tsx
Labels: bug, manager, lighthouse

#2552 chore(ci) : lighthouse url added as the build arg in manager
  .github/workflows/manager-ci.yaml
Labels: api, manager, chore

#2554 feat(manager): Fixing date formats and generate score toast fix
  packages/manager/src/services/lighthouse/queries.tsx
  packages/manager/src/utils/convertDateFormat.ts
  packages/manager/src/views/SPAPropertyDetailPage/ContainerizedSPADeployment/ContainerizedSPADeployment.tsx
  packages/manager/src/views/SPAPropertyDetailPage/Lighthouse/Lighthouse.tsx
  packages/manager/src/views/SPAPropertyDetailPage/StaticSPADeployment.tsx/StaticSPADeployment.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/Applications/ApplicationDetailsSection.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/Applications/ApplicationsListPage.tsx
Labels: bug, manager

#2557 fix(api) : isContainerized query issue resolved
  packages/api/src/server/lighthouse/controller.ts
Labels: bug, api, lighthouse

#2558 fix(api) : typo issue resolved for activity stream
  packages/api/src/server/analytics/entity.ts
  packages/api/src/server/lighthouse/service/index.ts
Labels: bug, api, lighthouse

#2559 fix(api) : lighthouse identifier for git fixed
  packages/api/src/server/lighthouse/service/factory.ts
Labels: bug, api, lighthouse

#2555 feat(manager) : Lighthouse bugs
  packages/manager/src/components/ActivityStream/ActivityStream.tsx
  packages/manager/src/services/lighthouse/queries.tsx
  packages/manager/src/views/SPAPropertyDetailPage/ContainerizedSPADeployment/ContainerizedSPADeployment.tsx
  packages/manager/src/views/SPAPropertyDetailPage/Lighthouse/Lighthouse.tsx
  packages/manager/src/views/SPAPropertyDetailPage/SPAPropertyDetailPage.tsx
  packages/manager/src/views/WebPropertyDetailPage/WebPropertyDetailPage.tsx
Labels: bug, manager

#2560 chore(api) : ref added for lighthouse ci added
  packages/api/src/configuration/index.ts
  packages/api/src/server/lighthouse/service/factory.ts
Labels: api, chore, lighthouse

#2561 chore(api) : lighthouse error message changed
  packages/api/src/server/lighthouse/service/factory.ts
  packages/api/src/server/lighthouse/service/index.ts
Labels: api, chore, lighthouse

#2562 fix(api) : router url exception added
  packages/api/src/configuration/index.ts
  packages/api/src/server/lighthouse/service/index.ts
Labels: bug, api, lighthouse

#2563 feat(Manager): Fixing router URL and view logs sections
  packages/manager/src/views/SPAPropertyDetailPage/ContainerizedSPADeployment/ContainerizedSPADeployment.tsx
  packages/manager/src/views/SPAPropertyDetailPage/Lighthouse/Lighthouse.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/Applications/ApplicationDetailsSection.tsx
Labels: bug, manager

#2564 fix(api) : max limit added for the lh indentifier
  packages/api/src/server/lighthouse/service/factory.ts
Labels: wontfix, api, lighthouse

#2567 version(api) : version updated to 4.2.0
  packages/api/package-lock.json
  packages/api/package.json
Labels: api, version

#2566 feat(Manager): Updating version of spaship manager v3.1.0
  packages/manager/package-lock.json
  packages/manager/package.json
Labels: manager

#2568 chore(api) : severity updated for C3, C4, C5
  packages/api/src/configuration/index.ts
Labels: api, chore, cmdb

#2569 feta(Manager): Changing lighthouse url variable
  packages/manager/src/views/SPAPropertyDetailPage/Lighthouse/Lighthouse.tsx
Labels: manager

#2571 feat(api) : feedback module added
  packages/api/src/app.module.ts
  packages/api/src/repository/data-services.abstract.ts
  packages/api/src/repository/mongo/model/feedback.ts
  packages/api/src/repository/mongo/model/index.ts
  packages/api/src/repository/mongo/mongo-data-service.service.ts
  packages/api/src/repository/mongo/mongo-data-services.module.ts
  packages/api/src/server/feedback/controller.ts
  packages/api/src/server/feedback/dto.ts
  packages/api/src/server/feedback/entity.ts
  packages/api/src/server/feedback/service/factory.ts
  packages/api/src/server/feedback/service/index.ts
  packages/api/src/server/feedback/service/module.ts
Labels: api, feedback

#2570 feat(manager): Feedback component with one platform service integrated
  packages/manager/package-lock.json
  packages/manager/package.json
  packages/manager/src/components/Feedback/Feedback.tsx
  packages/manager/src/components/Feedback/declarations.d.ts
  packages/manager/src/components/Feedback/index.tsx
  packages/manager/src/layouts/AppLayout/AppLayout.tsx
  packages/manager/src/layouts/AppLayout/components/SideBar/SideBar.tsx
  packages/manager/src/pages/feedback-dashboard.tsx
  packages/manager/src/services/feedback/index.tsx
  packages/manager/src/services/feedback/queries.tsx
  packages/manager/src/services/feedback/types.tsx
  packages/manager/src/views/FeedbackDashboard/UserFeedbackDashboard.tsx
  packages/manager/src/views/FeedbackDashboard/index.tsx
  packages/manager/src/views/SPAPropertyDetailPage/StaticSPADeployment.tsx/StaticSPADeployment.tsx
Labels: manager, feedback
