Repository spaship/spaship, pull requests merged in 2024-08, with the labels that each got.

#2694 feat(Manager): Updating WhatsNew section with latest release notes
  packages/manager/public/img/VirtualPath.png
  packages/manager/public/img/activity_stream.png
  packages/manager/public/img/history.png
  packages/manager/public/img/property_static.png
  packages/manager/public/img/static_form.png
  packages/manager/public/img/webProperty_static.png
  packages/manager/src/views/LoginPage/components/ReleaseBanner/WhatsNew.css
  packages/manager/src/views/LoginPage/components/ReleaseBanner/WhatsNew.tsx
Labels: bug, manager

#2695 chore(api): version updated to 4.7.0
  packages/api/package-lock.json
  packages/api/package.json
Labels: api, version

#2696 fix(api): property creation action createdBy issue resolved
  packages/api/src/server/property/service/index.ts
Labels: bug, api, activity stream

#2702 fix(api): update cmdb code issue resolved
  packages/api/src/server/sot/cmdb/service/index.ts
Labels: bug, api, cmdb

#2703 fix(manager): Paginated data in homepage and empty state for history section
  packages/manager/src/views/History/History.tsx
  packages/manager/src/views/HomePage/components/WebpropertiesTable/WebpropertiesTable.tsx
Labels: bug, manager, homepage, history

#2705 feat(Manger): Adding RBAC identifier for cmdb code update at property level in Settings
  packages/manager/src/services/rbac/types.ts
  packages/manager/src/views/Settings/components/AccessControl/AccessControl.tsx
  packages/manager/src/views/Settings/components/AccessControl/AddMembers/AddMembersForm.tsx
  packages/manager/src/views/Settings/components/AccessControl/ConfigureAccess/ConfigureAccess.tsx
  packages/manager/src/views/Settings/components/AccessControl/ConfigureAccess/types.ts
  packages/manager/src/views/Settings/components/AccessControl/EditAccess/EditMemberAccess.tsx
Labels: manager, Access Control, rbac, cmdb

#2706 feat(Manger): Fixing lint issue
  packages/manager/src/views/Settings/components/AccessControl/AccessControl.tsx
Labels: bug, manager, Access Control

#2707 fix(api) : build path changed
  packages/api/src/server/environment/service/factory.ts
Labels: bug, api, cmdb

#2709 feat(Manger): Undoing CMDB code changes for property and RBAC
  packages/manager/src/services/rbac/types.ts
  packages/manager/src/views/Settings/components/AccessControl/AccessControl.tsx
  packages/manager/src/views/Settings/components/AccessControl/AddMembers/AddMembersForm.tsx
  packages/manager/src/views/Settings/components/AccessControl/ConfigureAccess/ConfigureAccess.tsx
  packages/manager/src/views/Settings/components/AccessControl/ConfigureAccess/types.ts
  packages/manager/src/views/Settings/components/AccessControl/EditAccess/EditMemberAccess.tsx
Labels: manager, Access Control, rbac, cmdb

#2710 feat(Manger): Removing edit cmdb for property
  packages/manager/src/views/Settings/components/CmdbDetails/CmdbDetails.tsx
Labels: manager, cmdb
