Repository spaship/spaship, pull requests merged in 2024-04, with the labels that each got.

#2605 fix(api) : tar compression issue resolved
  packages/api/src/server/application/service/index.ts
Labels: wontfix

#2607 fix(api) : symlink activity stream issue resolved
  packages/api/src/server/application/service/index.ts
Labels: bug, api, activity stream, deployment, symlink

#2608 fix(manager): remove the symlink section from the settings page.
  packages/manager/src/views/Settings/Settings.tsx
Labels: bug, symlink

#2609 feat(Manager): Symlink path field modifications
  packages/manager/src/views/Settings/components/Symlink/CreateSymlink/CreateSymlink.tsx
  packages/manager/src/views/Settings/components/Symlink/Symlink.tsx
Labels: manager, symlink

#2610 feat(Manager): Fixed QA feedback on symlink
  packages/manager/package-lock.json
  packages/manager/package.json
  packages/manager/src/pages/_app.tsx
  packages/manager/src/views/SPAPropertyDetailPage/StaticSPADeployment/StaticSPADeployment.tsx
  packages/manager/src/views/Settings/components/Symlink/CreateSymlink/CreateSymlink.tsx
Labels: bug, manager, symlink

#2611 feat(Manager): Tooltip message for symlink status
  packages/manager/src/views/Settings/components/Symlink/CreateSymlink/CreateSymlink.tsx
  packages/manager/src/views/Settings/components/Symlink/Symlink.tsx
Labels: bug, manager, symlink

#2612 fix(api): root spa issue resolved for auto symlink creation
  packages/api/src/server/application/service/factory.ts
Labels: api, deployment, symlink

#2613 feat(Manager): Symlink path field modifications
  packages/manager/src/views/SPAPropertyDetailPage/StaticSPADeployment/StaticSPADeployment.tsx
  packages/manager/src/views/Settings/components/Symlink/CreateSymlink/CreateSymlink.tsx
Labels: manager, symlink

#2614 chore(api) : support provided for the nested symlinks
  packages/api/src/server/application/service/factory.ts
Labels: chore, deployment, symlink

#2615 version(api): version bumped to 4.4.0
  packages/api/package-lock.json
  packages/api/package.json
Labels: api, version

#2617 feat(manager): Blue banner instead of white as per Patternfly design
  packages/manager/src/layouts/AppLayout/AppLayout.tsx
Labels: manager, banner

#2618 feat(Manager): design implementation for homepage
  packages/manager/public/img/play-button.svg
  packages/manager/src/components/Banner/Banner.tsx
  packages/manager/src/config/env.ts
  packages/manager/src/layouts/AppLayout/AppLayout.tsx
  packages/manager/src/styles/globals.css
  packages/manager/src/views/HomePage/HomePage.tsx
  packages/manager/src/views/HomePage/Homepage.css
  packages/manager/src/views/HomePage/components/WebpropertiesTable/DeploymentStatsCard.tsx
  packages/manager/src/views/HomePage/components/WebpropertiesTable/ReleaseNotesCard.tsx
  packages/manager/src/views/HomePage/components/WebpropertiesTable/Tutorials.tsx
  packages/manager/src/views/HomePage/components/WebpropertiesTable/VideoGuidesCard.tsx
  packages/manager/src/views/HomePage/components/WebpropertiesTable/WebpropertiesTable.tsx
Labels: enhancement, manager, homepage

#2619 chore(ci) :added new manager env variables
  .github/workflows/manager-ci.yaml
Labels: manager

#2620 feat(Manager): Enhancements: Addressed Scroll Bar Issue and Introduced Environment Deletion Feature
  packages/manager/src/layouts/AppLayout/AppLayout.tsx
  packages/manager/src/services/persistent/queries.tsx
  packages/manager/src/services/persistent/types.ts
  packages/manager/src/styles/globals.css
  packages/manager/src/views/WebPropertyDetailPage/components/Ephemeral/Ephemeral.tsx
Labels: bug, manager, ephemeral
