Repository spaship/spaship, pull requests merged in 2024-03, with the labels that each got.

#2593 feat(Manager): Integrations with ChatUr-docs
  packages/manager/Dockerfile
  packages/manager/package-lock.json
  packages/manager/package.json
  packages/manager/public/img/bot.svg
  packages/manager/public/img/chatbot_4.png
  packages/manager/public/img/spaship-bot.png
  packages/manager/src/components/ChatUrDocs/Chat/ChatTyping.css
  packages/manager/src/components/ChatUrDocs/Chat/Chatbot.tsx
  packages/manager/src/components/ChatUrDocs/Chat/ChatbotInput.tsx
  packages/manager/src/components/ChatUrDocs/Chat/ChatbotMessage.tsx
  packages/manager/src/components/ChatUrDocs/ChatUrDocs.css
  packages/manager/src/config/env.ts
  packages/manager/src/layouts/AppLayout/components/SideBar/SideBar.tsx
  packages/manager/src/views/LoginPage/LoginPage.tsx
Labels: documentation, manager, chaturdocs

#2594 feat(api) : auto symlink creation and refactor
  packages/api/src/repository/mongo/model/application.ts
  packages/api/src/repository/mongo/model/environment.ts
  packages/api/src/server/agenda/service/index.ts
  packages/api/src/server/analytics/entity.ts
  packages/api/src/server/application/controller.ts
  packages/api/src/server/application/entity.ts
  packages/api/src/server/application/request.dto.ts
  packages/api/src/server/application/service/factory.ts
  packages/api/src/server/application/service/index.ts
  packages/api/src/server/environment/controller.ts
  packages/api/src/server/environment/dto.ts
  packages/api/src/server/environment/entity.ts
  packages/api/src/server/environment/service/factory.ts
  packages/api/src/server/environment/service/index.ts
Labels: api, symlink, logs

#2595 chore(api): symlink job added as enum, activity stream message added
  packages/api/src/configuration/index.ts
  packages/api/src/server/application/service/index.ts
Labels: api, activity stream, symlink

#2596 feat(api) : symlink deletion service added
  packages/api/src/server/application/controller.ts
  packages/api/src/server/application/service/index.ts
Labels: enhancement, api, symlink

#2597 chore(api): symlink specifier added
  packages/api/src/server/analytics/entity.ts
Labels: api, activity stream, symlink

#2598 fix: cli zip upload issue resolved for
  packages/api/src/server/application/service/index.ts
Labels: bug, api, deployment

#2599 feat(manager) : Integrating backstage feedback service | URL Redirect | Spa detailed settings tab hide
  packages/manager/package.json
  packages/manager/src/components/Feedback/Feedback.tsx
  packages/manager/src/config/env.ts
  packages/manager/src/pages/api/feedback.tsx
  packages/manager/src/views/LoginPage/LoginPage.tsx
  packages/manager/src/views/SPAPropertyDetailPage/SPAPropertyDetailPage.tsx
Labels: manager, feedback

#2600 feat(manager): Adding feature to view logs for static deployment
  packages/manager/src/services/appLogs/queries.tsx
  packages/manager/src/utils/extractPodIds.ts
  packages/manager/src/views/SPAPropertyDetailPage/ContainerizedSPADeployment/ContainerizedSPADeployment.tsx
  packages/manager/src/views/SPAPropertyDetailPage/StaticSPADeployment.tsx/StaticSPADeployment.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/ContainerizedDeployment.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/ViewLogs.tsx
Labels: manager, logs

#2602 fix(manager) : Fixing prettier issues for build
  packages/manager/src/services/appLogs/queries.tsx
  packages/manager/src/utils/extractPodIds.ts
  packages/manager/src/views/SPAPropertyDetailPage/StaticSPADeployment.tsx/StaticSPADeployment.tsx
Labels: manager, logs
