Repository spaship/spaship, pull requests merged in 2024-09, with the labels that each got.

#2712 feat(api) : count for the source analytics added
  packages/api/src/server/analytics/controller.ts
  packages/api/src/server/analytics/service/factory.ts
  packages/api/src/server/analytics/service/index.ts
Labels: enhancement, api, activity stream, analytics, feature

#2728 chore(api) : Memory, Replicas, CPU limit & req added for the containerized deployment
  packages/api/src/configuration/index.ts
  packages/api/src/repository/mongo/model/application.ts
  packages/api/src/server/application/entity.ts
  packages/api/src/server/application/request.dto.ts
  packages/api/src/server/application/service/factory.ts
  packages/api/src/server/application/service/index.ts
Labels: api, SSR (Server Side Rendering), workflow 3.0, deployment, config, feature

#2731 feat(Manger): adding MP+ configuration to the new and reconfigured application form for WF3.0 and SSR.
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/ConfigureSSRForm.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/SsrForm.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/workflow3.0/ConfigureWorkflowForm.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/workflow3.0/ReviewSection.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/workflow3.0/options.ts
  packages/manager/src/views/WebPropertyDetailPage/components/workflow3.0/workflow3.tsx
Labels: manager, SSR (Server Side Rendering), workflow 3.0, config
