Repository spaship/spaship, pull requests merged in 2024-05, with the labels that each got.

#2626 feat(Manager): Adding ragatouille and fixing feedback module
  packages/manager/Dockerfile
  packages/manager/package-lock.json
  packages/manager/public/img/bot.svg
  packages/manager/public/img/chatbot_4.png
  packages/manager/public/img/spaship-bot.png
  packages/manager/src/components/ChatUrDocs/Chat/ChatTyping.css
  packages/manager/src/components/ChatUrDocs/Chat/Chatbot.tsx
  packages/manager/src/components/ChatUrDocs/Chat/ChatbotInput.tsx
  packages/manager/src/components/ChatUrDocs/Chat/ChatbotMessage.tsx
  packages/manager/src/components/ChatUrDocs/ChatUrDocs.css
  packages/manager/src/config/env.ts
  packages/manager/src/layouts/AppLayout/components/SideBar/SideBar.tsx
  packages/manager/src/pages/api/chaturdocs.tsx
Labels: bug, manager, feedback

#2627 [enhancement] Added What's new modal pop up and release notes functionality
  packages/manager/package-lock.json
  packages/manager/package.json
  packages/manager/public/img/release3-1-snapshot.png
  packages/manager/src/layouts/AppLayout/components/Nav/Nav.tsx
  packages/manager/src/pages/api/feedback.tsx
  packages/manager/src/views/HomePage/HomePage.tsx
  packages/manager/src/views/LoginPage/components/ReleaseBanner/WhatsNew.tsx
  packages/manager/tsconfig.json
Labels: enhancement, manager

#2628 chore(api) : createdBy added into the property analytics api
  packages/api/src/server/analytics/service/factory.ts
  packages/api/src/server/analytics/service/index.ts
  packages/api/src/server/analytics/user-analytics-response.dto.ts
Labels: api, analytics

#2629 feat(Manager): Fixed inconsistencies in property name, Ephemeral env deletion bug, and completed homepage.
  packages/manager/package.json
  packages/manager/src/components/Banner/Banner.tsx
  packages/manager/src/layouts/AppLayout/components/SideBar/SideBar.tsx
  packages/manager/src/services/analytics/index.tsx
  packages/manager/src/services/analytics/queries.tsx
  packages/manager/src/services/analytics/types.ts
  packages/manager/src/services/persistent/queries.tsx
  packages/manager/src/views/HomePage/components/WebpropertiesTable/ReleaseNotesCard.tsx
  packages/manager/src/views/HomePage/components/WebpropertiesTable/Tutorials.tsx
  packages/manager/src/views/HomePage/components/WebpropertiesTable/WebpropertiesTable.tsx
  packages/manager/src/views/WebPropertyDetailPage/WebPropertyDetailPage.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/Ephemeral/Ephemeral.tsx
Labels: bug, manager, ephemeral, Design revamp, homepage

#2630 chore(api) : exceptions added in the analytics api
  packages/api/src/server/analytics/service/index.ts
Labels: api, analytics

#2634 fix(api) : symlink validation issue resolved
  packages/api/src/server/application/request.dto.ts
Labels: bug, api, symlink

#2635 feat(Manager): Fixing logout issue in spaship
  packages/manager/src/config/orchestratorReq.ts
  packages/manager/src/layouts/AppLayout/AppLayout.tsx
  packages/manager/src/views/DashboardPage/components/ActivityStreamDashboard/ActivityStreamDashboard.tsx
  packages/manager/src/views/DashboardPage/components/DashboardChart/DashboardChart.tsx
Labels: bug, manager

#2637 chore(api) : severity added into application & property service
  packages/api/src/repository/mongo/model/application.ts
  packages/api/src/server/application/entity.ts
  packages/api/src/server/application/service/factory.ts
  packages/api/src/server/application/service/index.ts
  packages/api/src/server/sot/cmdb/dto.ts
  packages/api/src/server/sot/cmdb/service/index.ts
Labels: api, cmdb

#2638 chore(ci) : args added in the ci for the manager
  packages/manager/Dockerfile
Labels: manager, CI

#2642 fix(api) : cmdb initi issue resolve for wf 2.0 and 3.0
  packages/api/src/server/application/service/factory.ts
  packages/api/src/server/application/service/index.ts
Labels: api, SSR (Server Side Rendering), workflow 3.0, deployment, cmdb

#2643 feat(Manager): Refactoring: Exclude the "banner" section and address homepage issues based on the latest review
  packages/manager/src/layouts/AppLayout/AppLayout.tsx
  packages/manager/src/views/HomePage/components/WebpropertiesTable/WebpropertiesTable.tsx
  packages/manager/src/views/Settings/components/CmdbDetails/CmdbDetails.tsx
Labels: bug, manager, banner, homepage

#2645 fix(api) : populate value from the existing updated SPA cmdb code
  packages/api/src/server/application/service/index.ts
Labels: api, cmdb

#2644 feat(Manager): Updating the activity stream with CMDB code update messages and fetching release notes from the documents API
  packages/manager/src/components/ActivityStream/ActivityStream.tsx
  packages/manager/src/views/DocumentsPage/DocumentsPage.tsx
  packages/manager/src/views/HomePage/HomePage.tsx
  packages/manager/src/views/HomePage/Homepage.css
  packages/manager/src/views/HomePage/components/WebpropertiesTable/ReleaseNotesCard.tsx
Labels: manager, activity stream, cmdb, homepage

#2646 fix(api): cmdb update issue resolve for static deployment
  packages/api/src/server/application/service/index.ts
Labels: api, cmdb

#2647 feat(manager): Fixing table overflow on home page and feedback button overlap
  packages/manager/src/layouts/AppLayout/AppLayout.tsx
  packages/manager/src/views/HomePage/Homepage.css
  packages/manager/src/views/HomePage/components/WebpropertiesTable/WebpropertiesTable.tsx
Labels: bug, manager, feedback

#2650 chore(cli) : multiple config file support added @soumyadip007
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/deploy.js
Labels: cli

#2651 chore(api) : version update
  packages/api/package-lock.json
  packages/api/package.json
Labels: api, version
