Repository spaship/spaship, pull requests merged in 2024-06, with the labels that each got.

#2652 feat(api) : virtual path support added for applications
  packages/api/src/repository/mongo/model/application.ts
  packages/api/src/server/analytics/entity.ts
  packages/api/src/server/application/controller.ts
  packages/api/src/server/application/entity.ts
  packages/api/src/server/application/request.dto.ts
  packages/api/src/server/application/service/factory.ts
  packages/api/src/server/application/service/index.ts
Labels: api, deployment, virtual path

#2653 feat(api) : report added for all properties, envs and applications
  packages/api/src/app.module.ts
  packages/api/src/server/report/controller.ts
  packages/api/src/server/report/response.dto.ts
  packages/api/src/server/report/service/factory.ts
  packages/api/src/server/report/service/index.ts
  packages/api/src/server/report/service/module.ts
Labels: api, analytics, report

#2654 chore(api) : owners and timestamp added
  packages/api/src/server/report/response.dto.ts
Labels: api, chore, analytics, report

#2655 feat(api): history api added for the property & application activities
  packages/api/src/server/analytics/controller.ts
  packages/api/src/server/analytics/service/factory.ts
  packages/api/src/server/analytics/service/index.ts
Labels: enhancement, api, activity stream

#2656 fix(api) : router URL encode issue resolved
  packages/api/src/server/application/service/factory.ts
  packages/api/src/server/application/service/index.ts
Labels: bug, api, deployment

#2657 chore(api): auth guard added for the Report api
  packages/api/src/server/report/controller.ts
Labels: api, chore, analytics, report, auth

#2661 feat(api) : pagination added for the report API
  packages/api/src/server/property/service/index.ts
  packages/api/src/server/report/controller.ts
  packages/api/src/server/report/service/index.ts
Labels: api, analytics, report

#2664 fix(api): virtual path exception issue resolved
  packages/api/src/server/application/service/index.ts
Labels: api, virtual path

#2662 feat(Manager): Enhanced activity stream messages, developed custom hooks and a virtual path module, and reorganized the Symlink section.
  packages/manager/src/components/ActivityStream/ActivityStream.tsx
  packages/manager/src/components/ChatUrDocs/Chat/Chatbot.tsx
  packages/manager/src/config/orchestratorReq.ts
  packages/manager/src/services/analytics/types.ts
  packages/manager/src/services/spaProperty/index.tsx
  packages/manager/src/services/spaProperty/queries.tsx
  packages/manager/src/services/spaProperty/types.ts
  packages/manager/src/views/SPAPropertyDetailPage/StaticSPADeployment/StaticSPADeployment.tsx
  packages/manager/src/views/SPAPropertyDetailPage/VirtualPath/VirtualPath.tsx
  packages/manager/src/views/SPAPropertyDetailPage/VirtualPath/components/CreateVirtualPath.tsx
  packages/manager/src/views/SPAPropertyDetailPage/VirtualPath/components/DeleteVirtualPath.tsx
  packages/manager/src/views/Settings/components/Symlink/Symlink.tsx
  packages/manager/src/views/Settings/components/Symlink/components/CreateSymlink/CreateSymlink.tsx
  packages/manager/src/views/Settings/components/Symlink/components/CreateSymlink/index.tsx
  packages/manager/src/views/Settings/components/Symlink/components/DeleteSymlink/DeleteSymlink.tsx
  packages/manager/src/views/Settings/components/Symlink/components/DeleteSymlink/index.tsx
Labels: manager, activity stream, symlink, virtual path
