Repository spaship/spaship, pull requests merged in 2024-02, with the labels that each got.

#2573 chore(api) : validate apikey point added
  packages/api/src/server/api-key/controller.ts
  packages/api/src/server/api-key/service/index.ts
Labels: api, chore, apikey

#2575 feat(Manager): Adding static upload functionality from Manager
  packages/manager/src/services/persistent/index.tsx
  packages/manager/src/services/persistent/queries.tsx
  packages/manager/src/services/persistent/types.ts
  packages/manager/src/views/SPAPropertyDetailPage/StaticSPADeployment.tsx/CreateStaticApp/CreateStaticApp.tsx
  packages/manager/src/views/SPAPropertyDetailPage/StaticSPADeployment.tsx/CreateStaticApp/index.tsx
  packages/manager/src/views/SPAPropertyDetailPage/StaticSPADeployment.tsx/StaticSPADeployment.tsx
Labels: manager, deployment

#2576 chore(ci) : gitbroker url added as the build arg in manager
  .github/workflows/manager-ci.yaml
Labels: manager, CI

#2578 feat(api): removing the auto environment initialization
  packages/api/src/server/environment/service/index.ts
Labels: api, chore

#2579 chore(manager) : docker file updated for gitbroker arg
  packages/manager/Dockerfile
Labels: manager, chore, docker

#2580 feat(Manager): feedback module : Changed the column sizes | made the summary field optional | added redirection to spaship
  packages/manager/src/components/Feedback/Feedback.tsx
  packages/manager/src/views/FeedbackDashboard/UserFeedbackDashboard.tsx
Labels: manager, feedback

#2581 chore(api) : secret changed and version updated
  packages/api/package-lock.json
  packages/api/package.json
  packages/api/src/configuration/index.ts
Labels: api, version, git broker

#2582 feat(Manager): Updating version number to 3.2.0
  packages/manager/package-lock.json
  packages/manager/package.json
Labels: manager, version

#2583 feat: Add optional tagsuffix and ugroup inputs to GitHub Action for orchestrator
  .github/workflows/api-ci.yaml
  packages/api/Dockerfile
Labels: api, chore

#2585 feat (manager): Fixing redirection issue after login
  packages/manager/src/context/AuthGuard/AuthGuard.tsx
  packages/manager/src/views/LoginPage/LoginPage.tsx
Labels: bug, manager

#2586 feat(api) : use CLI command for zipping and unzipping command
  packages/api/Dockerfile
  packages/api/package-lock.json
  packages/api/package.json
  packages/api/src/configuration/index.ts
  packages/api/src/server/api-key/service/index.ts
  packages/api/src/server/application/controller.ts
  packages/api/src/server/application/service/factory.ts
  packages/api/src/server/application/service/index.ts
  packages/api/src/server/environment/service/factory.ts
  packages/api/src/server/environment/service/index.ts
  packages/api/src/server/property/service/index.ts
Labels: deployment

#2587 feat(api) : get static logs service
  packages/api/src/server/application/controller.ts
  packages/api/src/server/application/service/factory.ts
  packages/api/src/server/application/service/index.ts
Labels: enhancement

#2589 feat(api) : ephemeral env support added for the SSR
  packages/api/src/server/application/service/index.ts
Labels: api, chore, deployment, ephemeral
