Repository spaship/spaship, pull requests merged in 2024-07, with the labels that each got.

#2666 feat(api) : cluster and podList structure added
  packages/api/src/server/application/entity.ts
  packages/api/src/server/report/response.dto.ts
  packages/api/src/server/report/service/factory.ts
Labels: api, deployment, analytics, report

#2668 chore(api) : version updated to 4.6.0
  packages/api/package-lock.json
  packages/api/package.json
Labels: api, version

#2667 feat(manager): fix dropdown value selection and implement "Scroll to Top" functionality in logs view.
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/ViewLogs.tsx
Labels: enhancement, manager, logs

#2669 feat(api) : update CMDB code in the POD
  packages/api/src/server/application/service/index.ts
  packages/api/src/server/environment/service/factory.ts
  packages/api/src/server/environment/service/index.ts
  packages/api/src/server/sot/cmdb/service/index.ts
  packages/api/src/server/sot/cmdb/service/module.ts
Labels: enhancement, api, deployment, cmdb, feature

#2670 fix(api) : createdBy added for static deployment from SPAship manager
  packages/api/src/server/auth/guard.ts
Labels: bug, api, activity stream, deployment

#2671 fix(api) : source issue fixed for the deployment
  packages/api/src/server/application/controller.ts
  packages/api/src/server/application/service/index.ts
  packages/api/src/server/auth/guard.ts
Labels: bug, api, activity stream, deployment, report

#2672 fix(api) : virtual path creation issue
  packages/api/src/server/application/service/index.ts
Labels: bug, api, deployment, virtual path

#2673 feat(manager): adding popup for choosing static and containerized deployment on application listing page
  packages/manager/src/services/persistent/index.tsx
  packages/manager/src/services/persistent/queries.tsx
  packages/manager/src/services/persistent/types.ts
  packages/manager/src/views/SPAPropertyDetailPage/SPAPropertyDetailPage.tsx
  packages/manager/src/views/SPAPropertyDetailPage/StaticSPADeployment/CreateStaticApp/CreateStaticApp.tsx
  packages/manager/src/views/SPAPropertyDetailPage/StaticSPADeployment/CreateStaticApp/index.tsx
  packages/manager/src/views/SPAPropertyDetailPage/StaticSPADeployment/StaticSPADeployment.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/AddContainerizedDeployment.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/Applications/ApplicationsListPage.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/addDeployment.tsx
Labels: manager, static-upload

#2675 fix(Manager): Changing filename to fix build issue
  packages/manager/src/views/WebPropertyDetailPage/components/AddDeployments.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/Applications/ApplicationsListPage.tsx
Labels: manager, feature, static-upload

#2682 feat(Manager): Fixing feedback from QA
  packages/manager/src/components/ActivityStream/ActivityStream.tsx
  packages/manager/src/services/history/queries.tsx
  packages/manager/src/views/History/History.tsx
  packages/manager/src/views/SPAPropertyDetailPage/VirtualPath/VirtualPath.tsx
  packages/manager/src/views/SPAPropertyDetailPage/VirtualPath/components/CreateVirtualPath.tsx
Labels: manager, activity stream, history

#2683 fix(api) : NA issue fixed for the ephemeral env
  packages/api/src/server/application/service/index.ts
Labels: bug, api, activity stream, deployment, ephemeral

#2684 fix(api): history data order issue resolved
  packages/api/src/server/analytics/service/factory.ts
Labels: bug, api, activity stream, history

#2685 feat(Manager): UI Enhancements and Form Improvements
  packages/manager/src/views/HomePage/components/WebpropertiesTable/DeploymentStatsCard.tsx
  packages/manager/src/views/SPAPropertyDetailPage/SPAPropertyDetailPage.tsx
  packages/manager/src/views/SPAPropertyDetailPage/StaticSPADeployment/CreateStaticApp/CreateStaticApp.tsx
  packages/manager/src/views/SPAPropertyDetailPage/StaticSPADeployment/StaticSPADeployment.tsx
  packages/manager/src/views/SPAPropertyDetailPage/VirtualPath/VirtualPath.tsx
  packages/manager/src/views/Settings/components/Symlink/Symlink.tsx
  packages/manager/src/views/WebPropertyDetailPage/WebPropertyDetailPage.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/AddDeployments.tsx
Labels: bug, manager, symlink, virtual path, static-upload

#2686 fix(api): ephemeral env deletion action createdBy issue resolved
  packages/api/src/server/agenda/service/index.ts
  packages/api/src/server/environment/controller.ts
  packages/api/src/server/environment/dto.ts
Labels: bug, api, activity stream, deployment, ephemeral, history

#2687 fix(manager): Fixing visibility of buttons and reload issue on tab focus change for logs panel
  packages/manager/package.json
  packages/manager/src/styles/globals.css
  packages/manager/src/views/SPAPropertyDetailPage/SPAPropertyDetailPage.tsx
  packages/manager/src/views/WebPropertyDetailPage/WebPropertyDetailPage.tsx
  packages/manager/src/views/WebPropertyDetailPage/components/SSR/ViewLogs.tsx
Labels: bug, manager, logs

#2693 fix(manager): fixing broken settings tab and addings secs to the homepage stats
  packages/manager/src/views/HomePage/components/WebpropertiesTable/DeploymentStatsCard.tsx
  packages/manager/src/views/SPAPropertyDetailPage/SPAPropertyDetailPage.tsx
  packages/manager/src/views/WebPropertyDetailPage/WebPropertyDetailPage.tsx
Labels: bug, manager, homepage
